<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:fragment="chatListForm">
<div class="flex flex-col">
	<div th:if="${list == null or list.empty}" class="flex flex-col h-full overflow-auto bg-white overscroll-contain text-center">
		<h4 class="font-semibold">채팅 내역이 없습니다.</h4>
	</div>
	<ul th:each="chatList:${list}" th:object="${chatList}" class="flex flex-col h-full overflow-auto bg-white overscroll-contain">
		<li th:onclick="openChatForm([[*{otherId}]],[[*{storeName}]])" class="flex gap-5 justify-between px-5 w-full cursor-pointer bg-white border-t border-gray-200 transition-colors">
			<div class="flex py-3">
				<div class="border border-gray-100 relative flex flex-shrink-0 items-center justify-center bg-gray-300 rounded-full overflow-hidden">
					<img alt="프로필" loading="lazy" width="60" height="60" decoding="async" data-nimg="1" class="rounded-full max-w-none h-[60px] object-cover"
						th:src="@{/images/profile/{profile}(profile=*{profile})}" style="color: transparent;">
				</div>
				<div class="flex w-[calc(100%-56px)] flex-col justify-around ml-4">
					<div class="flex flex-wrap items-center gap-x-2">
						<div class="flex gap-2">
							<h4 th:text="*{storeName}" class="font-semibold">인상적인푸른색</h4>
						</div>
						<p th:text="*{#dates.format(sendDate, 'M월 d일')}" class="text-[12px]">1월 14일</p>
					</div>
					<span th:text="*{content}" class="text-sm text-ellipsis overflow-hidden whitespace-nowrap min-[1024px]:max-w-[300px]"></span>
				</div>
			</div>
			<div class="my-auto">
				<div th:if="*{thumbnail != null}" class="relative w-10 h-10">
					<img alt="채팅방 상품 썸네일 이미지" loading="lazy" decoding="async" data-nimg="fill" class="rounded-md"
						th:src="@{/images/thumbnail/{thumbnail}(thumbnail=*{thumbnail})}" style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
				</div>
			</div>
		</li>
	</ul>
</div>
</th:block>
</body>
</html>