<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:fragment="chatListForm">
	<div class="flex flex-col">
		<ul class="flex flex-col h-full overflow-auto bg-white overscroll-contain">
			<li class="flex gap-5 justify-between px-5 w-full cursor-pointer bg-white border-t border-gray-200 transition-colors">
			<a onclick="openChatContentsForm()">
				<div class="flex py-3">
					<div class="border border-gray-100 relative flex flex-shrink-0 items-center justify-center bg-gray-300 rounded-full overflow-hidden">
						<img alt="프로필" loading="lazy" width="60" height="60" decoding="async" data-nimg="1" class="rounded-full max-w-none h-[60px] object-cover" 
						src="https://img2.joongna.com/common/Profile/Default/profile_m.png" style="color: transparent;">
					</div>
					<div class="flex w-[calc(100%-56px)] flex-col justify-around ml-4">
						<div class="flex flex-wrap items-center gap-x-2">
							<div class="flex gap-2">
								<h4 class="font-semibold">색다른유리막국수</h4>
							</div>
							<p class="text-[12px]">1월 14일</p>
						</div>
						<span th:text="${'상대회원 이용 제한 안내'}" class="text-sm text-ellipsis overflow-hidden whitespace-nowrap min-[1024px]:max-w-[300px]">
						마지막으로 전달된 채팅내용</span>
					</div>
				</div>
				<div class="my-auto"></div>
				</a>
			</li>
			<li class="flex gap-5 justify-between px-5 w-full cursor-pointer bg-white border-t border-gray-200 transition-colors">
				<div class="flex py-3">
						<div
							class="border border-gray-100 relative flex flex-shrink-0 items-center justify-center bg-gray-300 rounded-full overflow-hidden">
							<img alt="프로필" loading="lazy" width="60" height="60"
								decoding="async" data-nimg="1"
								class="rounded-full max-w-none h-[60px] object-cover"
								src="https://img2.joongna.com/common/Profile/Default/profile_f.png"
								style="color: transparent;">
						</div>
						<div class="flex w-[calc(100%-56px)] flex-col justify-around ml-4">
							<div class="flex flex-wrap items-center gap-x-2">
								<div class="flex gap-2">
									<h4 class="font-semibold">인상적인푸른색</h4>
								</div>
								<p class="text-[12px]">1월 14일</p>
							</div>
							<span
								class="text-sm text-ellipsis overflow-hidden whitespace-nowrap min-[1024px]:max-w-[300px]">구매취소가
								완료되었어요. '1조 중고나라'</span>
						</div>
					</div>
					<div class="my-auto">
						<div class="relative w-10 h-10">
							<img alt="채팅방 상품 썸네일 이미지" loading="lazy" decoding="async"
								data-nimg="fill" class="rounded-md"
								src="https://img2.joongna.com/media/original/2026/01/14/1768367945806vBw_cBK8M.png?impolicy=thumb"
								style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
						</div>
					</div></li>
				<li
					class="flex gap-5 justify-between px-5 w-full cursor-pointer bg-white border-t border-gray-200 transition-colors"><div
						class="flex py-3">
						<div
							class="border border-gray-100 relative flex flex-shrink-0 items-center justify-center bg-gray-300 rounded-full overflow-hidden">
							<img alt="프로필" loading="lazy" width="60" height="60"
								decoding="async" data-nimg="1"
								class="rounded-full max-w-none h-[60px] object-cover"
								src="https://img2.joongna.com/common/Profile/Default/profile_f.png"
								style="color: transparent;">
						</div>
						<div class="flex w-[calc(100%-56px)] flex-col justify-around ml-4">
							<div class="flex flex-wrap items-center gap-x-2">
								<div class="flex gap-2">
									<h4 class="font-semibold">인상적인푸른색</h4>
								</div>
								<p class="text-[12px]">1월 14일</p>
							</div>
							<span
								class="text-sm text-ellipsis overflow-hidden whitespace-nowrap min-[1024px]:max-w-[300px]">구매취소가
								완료되었어요. '1조 중고나라'</span>
						</div>
					</div>
					<div class="my-auto">
						<div class="relative w-10 h-10">
							<img alt="채팅방 상품 썸네일 이미지" loading="lazy" decoding="async"
								data-nimg="fill" class="rounded-md"
								src="https://img2.joongna.com/media/original/2026/01/14/1768367945806vBw_cBK8M.png?impolicy=thumb"
								style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;">
						</div>
					</div></li>
					<li
					class="flex gap-5 justify-between px-5 w-full cursor-pointer bg-white border-t border-gray-200 transition-colors"><div
						class="flex py-3">
						<div
							class="border border-gray-100 relative flex flex-shrink-0 items-center justify-center bg-gray-300 rounded-full overflow-hidden">
							<img alt="프로필" loading="lazy" width="60" height="60"
								decoding="async" data-nimg="1"
								class="rounded-full max-w-none h-[60px] object-cover"
								src="https://img2.joongna.com/common/Profile/Default/profile_m.png"
								style="color: transparent;">
						</div>
						<div class="flex w-[calc(100%-56px)] flex-col justify-around ml-4">
							<div class="flex flex-wrap items-center gap-x-2">
								<div class="flex gap-2">
									<h4 class="font-semibold">색다른유리막국수</h4>
								</div>
								<p class="text-[12px]">1월 14일</p>
							</div>
							<span
								class="text-sm text-ellipsis overflow-hidden whitespace-nowrap min-[1024px]:max-w-[300px]">상대회원
								이용 제한 안내</span>
						</div>
					</div>
					<div class="my-auto"></div></li>
			</ul>
		</div>
	</th:block>
</body>
</html>