<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 센터 - FAQ 관리</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{manage/common_layout :: header}"></div>
    <div class="wrapper">
        <div th:replace="~{manage/common_layout :: sidebar}"></div>
        <main id="main-container">
            <h1>FAQ 관리</h1>
            <p>기능구현</p>
        </main>
    </div>
</body>
</html>