HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Tailwind CSS Build ###
# 만약 폴더 안에 있다면 아래처럼 경로를 적어주세요 (예시)
src/main/resources/static/css/output.css

# 추가로 node_modules도 없다면 꼭 넣어주세요
node_modules/
