<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.admin.sales">
<!-- 안전결제 건 수 -->
<select id="selectSafepayToday" resultType="int">
select count(order_id) 
from payment
where approved_date=trunc(sysdate)
</select>
<select id="selectSafepayYesterday" resultType="int">
select count(order_id) 
from payment
where approved_date=TRUNC(SYSDATE) - 1
</select>
<select id="selectSafepayMonth" resultType="int">
select count(order_id) 
from payment
where trunc(approved_date, 'MM') = trunc(sysdate, 'MM')
</select>


<!-- 월별매출통계-안전결제 건 수 -->
<select id="selectSafepayMonthNow" resultType="int" parameterType="String">
select count(order_id) 
  from payment
  where trunc(approved_date, 'MM') = TO_DATE(#{safepayMonth}, 'YYYY-MM')
</select>
<select id="selectSafepayLastMonth" resultType="int" parameterType="String">
select count(order_id) 
  from payment
  where trunc(approved_date, 'MM') = add_months(TO_DATE(#{safepayMonth}, 'YYYY-MM'), -1)
</select>

<!-- 매출(수수료ㅛ) -->
<select id="selectChargeToday" resultType="int">
select sum(charge)
from product_order
where created_date=trunc(sysdate)

</select>
<select id="selectChargeYesterday" resultType="int">
select sum(charge)
from product_order
where created_date=trunc(sysdate)-1

</select>
<select id="selectChargeMonth" resultType="int">
select sum(charge)
from product_order
where trunc(created_date, 'MM') = trunc(sysdate, 'MM')

</select>
<select id="selectChargeMonthNow" resultType="int" parameterType="String">
select nvl(sum(charge), 0)
  from product_order
  where trunc(created_date, 'MM') = TO_DATE(#{chargeMonth}, 'YYYY-MM')

</select>
<select id="selectChargeLastMonth" resultType="int" parameterType="String">
select nvl(sum(charge), 0)
  from product_order
  where trunc(created_date, 'MM') = add_months(TO_DATE(#{chargeMonth}, 'YYYY-MM'), -1)

</select>

<insert id="insertCharge" parameterType="int">
insert into charge(charge,update_date)
values(${newCharge},sysdate)
</insert> 

<select id="selectCharge" resultType="double">
SELECT charge
FROM (
    SELECT charge
    FROM charge
    ORDER BY update_date DESC
)
WHERE ROWNUM = 1
</select>

<!-- 판매완료면서 주문테이블(안전결제로 거래된 것)에 없으면 개인들의 송금 -->
<select id="selectPayMethod" resultType="int">
SELECT count(p.product_num)
FROM product p
LEFT JOIN product_order o
  ON p.product_num = o.product_num
WHERE p.product_status = 'SOLD'
  AND o.product_num IS NULL;


</select>

<!-- 지난해 월별 수수료 -->
<select id="selectLastYearCharges" resultType="map">
SELECT
    TO_CHAR(created_date, 'MM') AS month,
    SUM(charge) AS total_sales
FROM product_order
WHERE order_date >= ADD_MONTHS(TRUNC(SYSDATE, 'YYYY'), -12)
  AND order_date &lt;  TRUNC(SYSDATE, 'YYYY')
GROUP BY TO_CHAR(created_date, 'MM')
ORDER BY month;

</select>

<!-- 카테고리 목록 -->
<select id="selectCategory" resultType="String">
select code_text
from category

</select>










</mapper>