<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.product.detail">
<!-- 상품 정보 받는 쿼리문 -->
<resultMap type="productDetailDomain" id="productDomain">
	<result column="product_num" property="productNum"/>
	<result column="title" property="title"/>
	<result column="price" property="price"/>
	<result column="product_status" property="productStatusCode"/>
	<result column="thumbnail" property="thumbnail"/>
	<result column="content" property="content"/>
	<result column="up_date" property="bumpDate"/>
	<result column="view_count" property="viewCnt"/>
	<result column="store_num" property="sellerId"/>
	<result column="status_code" property="sellStatusCode"/>
	<result column="code_text" property="category"/>
	<result column="addr" property="dealAddress"/>
</resultMap>
<select id="selectProduct" parameterType="int" resultMap="productDomain">
select p.product_num, p.title, p.price, p.product_status, p.thumbnail, p.content, p.up_date, p.view_count, p.store_num, p.status_code, c.code_text, s.addr
from product p, category c, sell_place s
where p.category_code = c.category_code and p.product_num = s.product_num and p.product_num = #{productNum}
</select>

<select id="selectProductTag" parameterType="int" resultType="String">
select tag
from tag
where product_num = #{productNum}
</select>

<select id="selectProductImg" parameterType="int" resultType="String">
select product_img
from product_img
where product_num = #{productnum}
</select>

<select id="selectProductSellCode" parameterType="int" resultType="int">
select sell_code
from sell_option
where product_num = #{productnum}
</select>

<select id="selectProductBookmark" parameterType="int" resultType="int">
select count(*)
from bookmark
where product_num = #{productnum}
</select>

<select id="selectProductChat" parameterType="int" resultType="int">
select count(distinct chatroom_num)
from chat
where product_num = #{productnum}
</select>


<!-- 판매자 정보 받는 쿼리문 -->
<resultMap type="sellerInfoDomain" id="sellerDomain">
	<result column="store_num" property="sellerId"/>
	<result column="store_name" property="storeName"/>
	<result column="profile_img" property="sellerProfile"/>
</resultMap>
<select id="sellerInfo" parameterType="int" resultMap="sellerDomain">
select store_num, store_name, profile_img
from store
where store_num = #{value}
</select>

<select id="sellerProductCnt" parameterType="int" resultType="int">
select count(product_num)
from product
where store_num = #{productnum}
</select>

<select id="sellerReviewCnt" parameterType="int" resultType="int">
select count(r.product_num)
from review r, product p
where r.product_num = p.product_num and p.store_num = #{productnum}
</select>
</mapper>