<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.admin.product">

    <select id="selectTotalCount" resultType="int" parameterType="kr.co.sist.admin.product.AdminProductDTO">
        SELECT  COUNT(*) 
        FROM    product
        <where>
            <if test="keyword != null and keyword != ''">
                AND title LIKE '%' || #{keyword} || '%'
            </if>
        </where>
    </select>

    <select id="selectProductList" resultType="kr.co.sist.admin.product.AdminProductDomain" parameterType="kr.co.sist.admin.product.AdminProductDTO">
        SELECT  *
        FROM    (SELECT rownum rnum, p.* FROM (
                   SELECT 
                       product_num, title, price, addr, input_date, product_status, thumbnail
                   FROM product
                   <where>
                       <if test="keyword != null and keyword != ''">
                           AND title LIKE '%' || #{keyword} || '%'
                       </if>
                   </where>
                   ORDER BY 
                   <choose>
                       <when test="sortBy == 'lowPrice'"> price ASC </when>
                       <when test="sortBy == 'highPrice'"> price DESC </when>
                       <otherwise> input_date DESC </otherwise>
                   </choose>
                  ) p
        )
        WHERE rnum BETWEEN #{startNum} AND #{endNum}
    </select>

    <select id="selectProductDetail" resultType="kr.co.sist.admin.product.AdminProductDomain" parameterType="int">
        SELECT 
            product_num, title, price, description, product_status, 
            input_date, addr, thumbnail, status_code, delete_text, delete_flag
        FROM product
        WHERE product_num = #{product_num}
    </select>

    <update id="updateProductState" parameterType="kr.co.sist.admin.product.AdminProductDTO">
        UPDATE  product 
        SET     product_status = #{sellState} 
        WHERE   product_num = #{productNo}
    </update>

    <update id="deleteProduct" parameterType="kr.co.sist.admin.product.AdminProductDTO">
        UPDATE  product 
        SET     delete_flag = 1, 
                delete_text = #{deleteReason}, 
                input_date = SYSDATE 
        WHERE   product_num = #{productNo}
    </update>
    
    <select id="selectProductImages" resultType="String" parameterType="int">
        SELECT  imageName 
        FROM    product_images 
        WHERE   product_num = #{product_num} 
        ORDER BY imageOrder ASC
    </select>

</mapper>