<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.admin.product">

	<select id="selectTotalCount" resultType="int"
		parameterType="kr.co.sist.admin.product.AdminProductDTO">
		SELECT COUNT(*) FROM product
		<where>
			<if test="category_code != null and category_code != 0"> AND category_code = #{category_code} </if>
			<if test="keyword != null and keyword != ''"> AND title LIKE '%' || #{keyword} || '%' </if>
		</where>
	</select>

	<select id="selectProductList"
		resultType="kr.co.sist.admin.product.AdminProductDomain"
		parameterType="kr.co.sist.admin.product.AdminProductDTO">
		SELECT * FROM (
		SELECT rownum rnum, p_sub.* FROM (
		SELECT 
            p.product_num, p.title, p.price, s_p.addr, p.input_date, p.modify_date,
		    ss.status_text AS product_status, p.status_code, p.thumbnail,
            p.delete_flag /* [추가] 목록에서 '삭제된 상품' 레이아웃 처리를 위해 필요 */
		FROM product p
		LEFT OUTER JOIN sell_place s_p ON p.product_num = s_p.product_num
		LEFT OUTER JOIN sell_status ss ON p.status_code = ss.status_code
		<where>
			<if test="category_code != null and category_code != 0"> AND p.category_code = #{category_code} </if>
			<if test="keyword != null and keyword != ''"> AND p.title LIKE '%' || #{keyword} || '%' </if>
		</where>
		ORDER BY
		<choose>
			<when test="sortBy == 'lowPrice'"> p.price ASC </when>
			<when test="sortBy == 'highPrice'"> p.price DESC </when>
			<otherwise> p.input_date DESC </otherwise>
		</choose>
		) p_sub
		) WHERE rnum BETWEEN #{startNum} AND #{endNum}
	</select>

	<select id="selectProductDetail"
		resultType="kr.co.sist.admin.product.AdminProductDomain"
		parameterType="int">
		SELECT
		p.product_num, p.title, p.price, p.content AS description, p.view_count,
		ss.status_text AS product_status, p.status_code, p.category_code,
		p.input_date, p.modify_date, p.delete_flag,
		s_p.addr, p.thumbnail, st.store_name,
		(SELECT COUNT(*) FROM bookmark WHERE product_num = p.product_num) AS bookmark_count,
		po.BUYER_ID,
		ad.address AS destination_addr,
		ad.address_detail AS destination_detail
		FROM product p
		LEFT OUTER JOIN sell_place s_p ON p.product_num = s_p.product_num
		LEFT OUTER JOIN sell_status ss ON p.status_code = ss.status_code
		LEFT OUTER JOIN store st ON p.store_num = st.store_num
		LEFT OUTER JOIN product_ORDER po ON p.product_num = po.product_num
		LEFT OUTER JOIN address ad ON po.ORDER_ID = ad.ORDER_ID
		WHERE p.product_num = #{product_num}
	</select>

	<update id="updateProductState"
		parameterType="kr.co.sist.admin.product.AdminProductDTO">
		UPDATE product SET status_code = #{statusCode} WHERE
		product_num = #{productNo}
	</update>

	<update id="deleteProduct"
		parameterType="kr.co.sist.admin.product.AdminProductDTO">
		UPDATE product
		SET delete_flag = 'Y', /* [수정] '1'에서 'Y'로 변경 */
		delete_text = #{deleteReason},
		modify_date = SYSDATE
		WHERE product_num = #{productNo}
	</update>

	<select id="selectProductImages" resultType="String"
		parameterType="int">
		SELECT product_img
		FROM product_img
		WHERE product_num = #{product_num}
	</select>

</mapper>