<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/output.css}" rel="stylesheet">
<!-- <link th:href="@{/css/sellerReview1.css}" rel="stylesheet">
<link th:href="@{/css/sellerReview2.css}" rel="stylesheet"> -->
<!-- <link th:href="@{/css/seller1.css}" rel="stylesheet">
<link th:href="@{/css/seller2.css}" rel="stylesheet">
<link th:href="@{/css/seller3.css}" rel="stylesheet">
<link th:href="@{/css/seller4.css}" rel="stylesheet"> -->

<!-- bootstrap CDN 시작 -->
<!-- <link

	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
	crossorigin="anonymous"></script> -->
<!-- bootstrap CDN 끝 -->

<!-- jquery CDN 시작-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- jquery CDN 끝 -->

<style type="text/css">

</style>
<script type="text/javascript">
$(function(){

});// ready
</script>
</head>
<body>



<div class="basic-layout css-f1iq23">
<header class="css-k0sx5n">
<div class="css-nh9e3h">
<div class="css-1afmzpj">
<h1 class="css-1gl63ht">후기</h1>
<div class="css-dsqfz5">
<button class=" css-17i5ava" name="뒤로가기" aria-label="뒤로가기" title="뒤로가기">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-wsqqvh">
<path d="M12.5 19.5L4.42491 12.3749C4.19932 12.1759 4.19932 11.8241 4.42491 11.6251L12.5 4.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></button></div><div class="css-1ay3cpr"></div></div></div>
<div class="css-16zjptt"></div></header>
<main role="main" aria-label="본문 영역" id="container" class="container css-0" tabindex="-1" style="scroll-margin-top: 48px;">
<main class="css-yj15ty"><section class="css-afxwf6">

<header>이런점이 좋았어요</header>

<ul class="feedbackList"><li>


<p>친절/매너가 좋아요.</p><div class="feedbackCntWrap">
<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-wsqqvh">
<path d="M2.53333 14C2.53333 11.4227 5.42266 9.33333 7.99999 9.33333C10.5773 9.33333 13.4667 11.4227 13.4667 14M10.6667 4.66667C10.6667 6.13943 9.47275 7.33333 7.99999 7.33333C6.52723 7.33333 5.33333 6.13943 5.33333 4.66667C5.33333 3.19391 6.52723 2 7.99999 2C9.47275 2 10.6667 3.19391 10.6667 4.66667Z" stroke="#9CA3AF" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path></svg><p>10</p></div></li><li>
<p>응답이 빨라요.</p>
<div class="feedbackCntWrap"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-wsqqvh"><path d="M2.53333 14C2.53333 11.4227 5.42266 9.33333 7.99999 9.33333C10.5773 9.33333 13.4667 11.4227 13.4667 14M10.6667 4.66667C10.6667 6.13943 9.47275 7.33333 7.99999 7.33333C6.52723 7.33333 5.33333 6.13943 5.33333 4.66667C5.33333 3.19391 6.52723 2 7.99999 2C9.47275 2 10.6667 3.19391 10.6667 4.66667Z" stroke="#9CA3AF" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path></svg><p>9</p></div></li><li>
<p>상품 상태가 좋아요.</p>
<div class="feedbackCntWrap"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-wsqqvh"><path d="M2.53333 14C2.53333 11.4227 5.42266 9.33333 7.99999 9.33333C10.5773 9.33333 13.4667 11.4227 13.4667 14M10.6667 4.66667C10.6667 6.13943 9.47275 7.33333 7.99999 7.33333C6.52723 7.33333 5.33333 6.13943 5.33333 4.66667C5.33333 3.19391 6.52723 2 7.99999 2C9.47275 2 10.6667 3.19391 10.6667 4.66667Z" stroke="#9CA3AF" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path></svg><p>8</p></div></li><li>
<p>택배 거래가 수월했어요.(포장, 협조적)</p><div class="feedbackCntWrap"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="css-wsqqvh"><path d="M2.53333 14C2.53333 11.4227 5.42266 9.33333 7.99999 9.33333C10.5773 9.33333 13.4667 11.4227 13.4667 14M10.6667 4.66667C10.6667 6.13943 9.47275 7.33333 7.99999 7.33333C6.52723 7.33333 5.33333 6.13943 5.33333 4.66667C5.33333 3.19391 6.52723 2 7.99999 2C9.47275 2 10.6667 3.19391 10.6667 4.66667Z" stroke="#9CA3AF" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path></svg><p>8</p></div></li></ul></section><div class="css-v41fzo"></div><section class="css-1mmbpdz">

<header>상세한 후기도 있어요<span>2</span></header>

<ul><li class="css-ymvmvb"><button class="userInfoWrap"><div class="profileImgWrap"><div class="css-4sj9kq"><img src="https://img2.joongna.com/common/Profile/Default/profile_m.png" alt="251231142353103MRPVF_원누리7" width="1000" height="1000" referrerpolicy="no-referrer" class="css-sxxyvs"></div></div>
<div><p>원누리7</p><span class="infoContent">구매자</span><span>2026-01-03</span></div></button><button disabled="" class="css-8ex6zl">
<p>좋은 물건 감사히 쓰겠습니다.</p></button></li><li class="css-ymvmvb"><button class="userInfoWrap"><div class="profileImgWrap"><div class="css-4sj9kq">
<img src="https://img2.joongna.com/common/Profile/Default/profile_m.png" alt="251023180134525RGPXV_적절한늑대머스터드" width="1000" height="1000" referrerpolicy="no-referrer" class="css-sxxyvs"></div></div><div><p>적절한늑대머스터드</p>
<span class="infoContent">구매자</span><span>2025-10-27</span></div></button><button disabled="" class="css-8ex6zl">
<p>설명대로 작동 잘 돼요</p></button></li></ul></section></main></main></div>


</body>
</html>