<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>아이디/비밀번호 찾기</title>
<link th:href="@{/css/user_findAccount.css}" rel="stylesheet">
<!-- JQuery CDN -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<div class="programCon" style="margin-bottom: 100px">
		<div class="login_wrap pd640" style="border: 0">
			<fieldset class="login">
				<p class="login_tit">
					<span>SEARCH</span>아이디/비밀번호 찾기
				</p>
				<div class="findCon_wrap no01">
					<div style="width: 100%; padding-top: 80px !important">
						<form name="board1" id="board1" method="post"
							action="id_process.jsp" onsubmit="return loginCheck(this);"
							data-gtm-form-interact-id="0">
							<div class="in_hei" style="padding: 0 !important">
								<div class="up_txt" style="padding-bottom: 30px">
									<p style="text-align: center; font-size: 40px; color: gray;">회원님의</p>
								</div>
								<ul class="findCon">
									<li>
										<dl style="height: 150px">
											<dd style="width: 100%; height: 100%">
												<input data-value="아이디를 입력해주세요." type="text" id="name"
													name="name"
													onkeyup="javascript:if(event.keyCode == 13){$('#board1').submit();}"
													data-gtm-form-interact-field-id="0"
													style="height: 100%; outline: none; cursor: default;"
													readonly>
											</dd>
										</dl>
									</li>
								</ul>
							</div>
							<div class="under_btn">
								<a class="login_btn" style="cursor: pointer;"
									onclick="$('#board1').submit();">메인으로</a>
							</div>
							<input type="hidden" name="cmd" id="cmd" value="searchid">
							<input type="hidden" name="spamkey" id="spamkey"
								value="1769152354263">
						</form>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</body>
</html>