<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>아이디/비밀번호 찾기</title>
<link th:href="@{/css/user_findAccount.css}" rel="stylesheet">
<!-- JQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<div class="programCon" style="margin-bottom: 100px">
		<div class="login_wrap pd640" style="border: 0">
			<fieldset class="login">
				<p class="login_tit">
					<span>SEARCH</span>아이디/비밀번호 찾기
				</p>
				<div class="findCon_wrap no01">
					<div style="width: 100%; padding-top: 80px !important">
							<div class="in_hei" style="padding: 0 !important">
								<div class="up_txt" style="padding-bottom: 30px">
									<p th:text="|${name} 회원님의 ${flag == 1 ? '아이디는' : '임시 비밀번호는'}|" style="text-align: center; font-size: 40px; color: gray;"></p>
								</div>
								<ul class="findCon">
									<li>
										<dl style="height: 150px">
											<dd style="width: 100%; height: 100%">
												<input th:value="${flag == 1 ? (#strings.substring(result, 0, #strings.length(result) - 2) + '**') : result}" type="text" style="height: 100%; outline: none; cursor: default; text-align: center; font-size: 40px; color: gray;" readonly>
											</dd>
										</dl>
									</li>
								</ul>
							</div>
							<div class="under_btn">
								<a th:href="@{/user/login/loginFrm}" class="login_btn" style="cursor: pointer;">로그인으로 이동</a>
							</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</body>
</html>