<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>아이디/비밀번호 찾기</title>
<link th:href="@{/css/user_findAccount.css}" rel="stylesheet">
<!-- JQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
		// 1. 서버로부터 넘어온 에러 메시지 처리 (인라인 자바스크립트 활용)
		var errorMsg = "[[${errorMsg}]]";

		if (errorMsg) {
			alert(errorMsg);
		}// end if

		// 2. 아이디 찾기 유효성 검사 및 전송
		$("#idBoardBtn").on("click", function() {
			var name = $("#idBoardName").val().trim();
			var email = $("#idBoardEmail").val().trim();

			if (name === "") {
				alert($("#idBoardName").data("value"));
				$("#idBoardName").focus();
				return;
			}

			if (email === "") {
				alert($("#idBoardEmail").data("value"));
				$("#idBoardEmail").focus();
				return;
			}

			$("#idBoard").submit();
		});

		// 3. 비밀번호 찾기 유효성 검사 및 전송
		$("#passBoardBtn").on("click", function() {
			var name = $("#passBoardName").val().trim();
			var id = $("#passBoardId").val().trim();
			var email = $("#passBoardEmail").val().trim();

			if (name === "") {
				alert($("#passBoardName").data("value"));
				$("#passBoardName").focus();
				return;
			}

			if (id === "") {
				alert($("#passBoardId").data("value"));
				$("#passBoardId").focus();
				return;
			}

			if (email === "") {
				alert($("#passBoardEmail").data("value"));
				$("#passBoardEmail").focus();
				return;
			}

			$("#passBoard").submit();
		});
	});// ready
</script>
</head>
<body>
	<div class="programCon">
		<div class="login_wrap pd640" style="border: 0 !important">
			<fieldset class="login">
				<p class="login_tit">
					<span>SEARCH</span>아이디/비밀번호 찾기
				</p>
				<div class="findCon_wrap no01">
					<div>
						<form th:action="@{/findAccount/findIdProcess}" name="idBoard" id="idBoard" method="get">
							<div class="in_hei">
								<div class="up_txt">
									<p>아이디 찾기</p>
									<span>회원님의 이름과 이메일을 입력해주세요.</span>
								</div>
								<ul class="findCon">
									<li>
										<dl>
											<dt>
												<label for="name"><img class="name_icon"
													src="https://www.sist.co.kr/img/name_icon.png" alt=""></label>
											</dt>
											<dd>
												<input data-value="이름을 입력해주세요." type="text" id="idBoardName"
													name="name" placeholder="이름">
											</dd>
										</dl>
										<dl>
											<dt>
												<label for="email"><img class="email_icon"
													src="https://www.sist.co.kr/img/email_icon.png" alt=""></label>
											</dt>
											<dd>
												<input data-value="이메일을 입력해주세요." type="text" id="idBoardEmail"
													name="email" placeholder="이메일">
											</dd>
										</dl>
									</li>
								</ul>
							</div>
							<div class="under_btn">
								<a class="login_btn" id="idBoardBtn" style="cursor: pointer;">확인</a>
							</div>
						</form>
					</div>
					<div>
						<form th:action="@{/findAccount/findPassProcess}" name="passBoard" id="passBoard" method="post">
							<div class="in_hei">
								<div class="up_txt">
									<p>비밀번호 찾기</p>
									<span>회원님의 이름과 아이디, 이메일을 입력해주세요.</span>
								</div>
								<ul class="findCon">
									<li>
										<dl>
											<dt>
												<label for="name"><img class="name_icon"
													src="https://www.sist.co.kr/img/name_icon.png" alt=""></label>
											</dt>
											<dd>
												<input data-value="이름을 입력해주세요." type="text" id="passBoardName"
													name="name" placeholder="이름">
											</dd>
										</dl>
										<dl>
											<dt>
												<label for="id"><img
													src="https://www.sist.co.kr/img/id_icon.png" alt=""></label>
											</dt>
											<dd>
												<input data-value="아이디를 입력해주세요." type="text" id="passBoardId"
													name="id" placeholder="아이디">
											</dd>
										</dl>
										<dl>
											<dt>
												<label for="email"><img class="email_icon"
													src="https://www.sist.co.kr/img/email_icon.png" alt=""></label>
											</dt>
											<dd>
												<input data-value="이메일을 입력해주세요." type="text" id="passBoardEmail"
													name="email" placeholder="이메일">
											</dd>
										</dl>
									</li>
								</ul>
							</div>
							<div class="under_btn">
								<a class="login_btn" id="passBoardBtn" style="cursor: pointer;">확인</a>
							</div>
						</form>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</body>
</html>