<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>아이디/비밀번호 찾기</title>
<link th:href="@{/css/user_findAccount.css}" rel="stylesheet">
<!-- JQuery CDN -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<div class="programCon">
		<div class="login_wrap pd640" style="border: 0 !important">
			<fieldset class="login">
				<p class="login_tit">
					<span>SEARCH</span>아이디/비밀번호 찾기
				</p>
				<div class="findCon_wrap no01">
					<div>
						<form name="board1" id="board1" method="post"
							action="id_process.jsp" onsubmit="return loginCheck(this);">
							<div class="in_hei">
								<div class="up_txt">
									<p>아이디 찾기</p>
									<span>회원님의 이름과 이메일을 입력해주세요.</span>
								</div>
								<ul class="findCon">
									<li>
										<dl>
											<dt>
												<label for="name"><img class="name_icon"
													src="https://www.sist.co.kr/img/name_icon.png" alt=""></label>
											</dt>
											<dd>
												<input data-value="아이디를 입력해주세요." type="text" id="name"
													name="name" placeholder="이름"
													onkeyup="javascript:if(event.keyCode == 13){$('#board1').submit();}">
											</dd>
										</dl>
										<dl>
											<dt>
												<label for="email"><img class="email_icon"
													src="https://www.sist.co.kr/img/email_icon.png" alt=""></label>
											</dt>
											<dd>
												<input data-value="이메일을 입력해주세요." type="text" id="email"
													name="email" placeholder="이메일"
													onkeyup="javascript:if(event.keyCode == 13){$('#board1').submit();}">
											</dd>
										</dl>
									</li>
								</ul>
							</div>
							<div class="under_btn">
								<a class="login_btn" style="cursor: pointer;"
									onclick="$('#board1').submit();">확인</a>
							</div>
							<input type="hidden" name="cmd" id="cmd" value="searchid">
						</form>
					</div>
					<div>
						<form name="board2" id="board2" method="post"
							action="id_process.jsp" onsubmit="return loginCheck(this);">
							<div class="in_hei">
								<div class="up_txt">
									<p>비밀번호 찾기</p>
									<span>회원님의 이름과 아이디, 이메일을 입력해주세요.</span>
								</div>
								<ul class="findCon">
									<li>
										<dl>
											<dt>
												<label for="name"><img class="name_icon"
													src="https://www.sist.co.kr/img/name_icon.png" alt=""></label>
											</dt>
											<dd>
												<input data-value="이름을 입력해주세요." type="text" id="name"
													name="name" placeholder="이름"
													onkeyup="javascript:if(event.keyCode == 13){$('#board2').submit();}">
											</dd>
										</dl>
										<dl>
											<dt>
												<label for="id"><img
													src="https://www.sist.co.kr/img/id_icon.png" alt=""></label>
											</dt>
											<dd>
												<input data-value="아이디를 입력해주세요." type="text" id="id"
													name="id" placeholder="아이디"
													onkeyup="javascript:if(event.keyCode == 13){$('#board2').submit();}">
											</dd>
										</dl>
										<dl>
											<dt>
												<label for="email"><img class="email_icon"
													src="https://www.sist.co.kr/img/email_icon.png" alt=""></label>
											</dt>
											<dd>
												<input data-value="이메일을 입력해주세요." type="text" id="email"
													name="email" placeholder="이메일"
													onkeyup="javascript:if(event.keyCode == 13){$('#board2').submit();}">
											</dd>
										</dl>
									</li>
								</ul>
							</div>
							<div class="under_btn">
								<a class="login_btn" style="cursor: pointer;"
									onclick="$('#board2').submit();">확인</a>
							</div>
							<input type="hidden" name="cmd" id="cmd" value="searchpw">
						</form>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</body>
</html>