@import "tailwindcss";

/* 1. 기존 templates 폴더 (Thymeleaf 사용 시) */
@source "../resources/templates/**/*.html";
@source "../resources/static/**/*.html";

@theme {
  /* 중고나라에서 사용하는 커스텀 색상 정의 */
  --color-jnGray-100: #F5F5F5;
  --color-jnGray-200: #EEEEEE;
  --color-jnGray-300: #E0E0E0;
  --color-jnGray-500: #9E9E9E;
  --color-jnGray-600: #757575;
  --color-jnGray-900: #212121;
}
