<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.sell">

<select id="selectProductNum" resultType="int">
select SEQ_PRODUCT_NUM.nextval from dual
</select>

<insert id="insertProduct" parameterType="kr.co.sist.user.sell.SellDTO">
insert into product	(product_num, category_code, title, price, product_status, thumbnail, content, input_date, up_date, status_code, delete_flag, store_num, view_count)
values 				(#{productNum},#{categoryCode},#{productTitle},#{price},#{productStatus},#{thumbnailName},#{content},sysdate,sysdate,1,'N',#{storeNum},0)
</insert>

<insert id="insertImages" parameterType="Map">
insert into PRODUCT_IMG (PRODUCT_NUM, PRODUCT_IMG)
values (#{productNum}, #{imageName})
</insert>

<insert id="insertTradeType" parameterType="Map">
insert into SELL_OPTION(PRODUCT_NUM, SELL_CODE)
values (#{productNum}, #{sellCode})
</insert>

<insert id="insertTradeArea" parameterType="Map">
insert into SELL_place(PRODUCT_NUM, ADDR)
values (#{productNum}, #{tradeArea})
</insert>

<select id="selectSellProductInfo" parameterType="kr.co.sist.user.sell.SellDTO">
select title, price, content, thumbnail, category_code, addr, product_status
from product p
left join (
    select product_num,
           listagg(addr, ', ') within group (order by addr) as addr
    from sell_place
    group by product_num
) sp on p.product_num = sp.product_num
where p.product_num = #{productNum} and p.store_num = #{storeNum}
</select>

<select id="selectSellCode" parameterType="kr.co.sist.user.sell.SellDTO">
select sell_code
from sell_option
where product_num = #{productNum}
</select>

<select id="selectProductImg" parameterType="kr.co.sist.user.sell.SellDTO">
select product_img
from product_img
where product_num = #{productNum}
</select>

</mapper>









