<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="paymentFrm">
		<main role="main" aria-label="본문 영역" id="main-content"
			class="flex flex-col min-h-full relative">
			<div class="flex-1 pt-6">
				<div class="outline-none gap-4 flex flex-col mb-6 px-5">
					<div class="flex flex-row justify-between items-center">
						<h2 th:text="${'직거래로 구매'}"
							class="text-18 font-semibold text-gray-900">선택한 거래 방식</h2>
					</div>
					<div class="flex flex-row gap-4 items-center">
						<div class="w-16 h-16 rounded-lg overflow-hidden shrink-0">
							<img class="w-full h-full object-cover"
								src="https://img2.joongna.com/media/original/2026/01/14/1768401290713p7h_nDmS5.jpg">
						</div>
						<div class="flex flex-col gap-1 flex-1">
							<p th:text="${'RTX 4070 super FE판매합니다'}"
								class="text-16 font-semibold text-gray-700 line-clamp-2">
								상품명</p>
							<span th:text="${'590,000원'}"
								class="text-18 font-semibold text-gray-900"> 가격</span>
						</div>
					</div>
				</div>

				<!-- 택배 거래 선택 시 생성됨 -->
				<form>
					<div class="h-[6px] w-full"
						style="background-color: rgb(241, 244, 246);"></div>
					<div
						class="outline-none gap-4 flex flex-col justify-start items-stretch flex-nowrap p-5 w-full">
						<div
							class="outline-none flex flex-col justify-start items-stretch flex-nowrap">
							<div
								class="outline-none flex-row flex-nowrap py-3 pl-3 pr-2 h-11 flex justify-between items-center gap-2 border border-gray-300 rounded focus-within:border-gray-500 focus:border-gray-500 font-medium placeholder:text-gray-500 [&amp;&gt;input]:flex-1 [&amp;&gt;input]:w-0 [&amp;&gt;input]:placeholder:text-gray-500">
								<input aria-invalid="false"
									class="bg-transparent border-none outline-none text-sm leading-5 flex-1"
									placeholder="배송지명 (최대 10글자)" maxlength="10" type="text"
									name="deliveryTitle">
								<button type="button" class="p-1 hidden">
									<svg fill="none" viewBox="0 0 20 20" width="20" height="20"
										color="#363738" aria-labelledby="CDS-IconXInCircleIcon">
							<title id="CDS-IconXInCircleIcon">IconXInCircle</title><path
											fill="#9CA3AF" fill-rule="evenodd"
											d="M10.5 2.5a8 8 0 1 1 0 16 8 8 0 0 1 0-16"
											clip-rule="evenodd"></path>
							<path fill="#fff" fill-rule="evenodd"
											d="M7.558 7.558a.625.625 0 0 1 .884 0L10.5 9.616l2.058-2.058a.625.625 0 1 1 .884.884L11.384 10.5l2.058 2.058a.625.625 0 1 1-.884.884L10.5 11.384l-2.058 2.058a.625.625 0 1 1-.884-.884L9.616 10.5 7.558 8.442a.625.625 0 0 1 0-.884"
											clip-rule="evenodd"></path></svg>
								</button>
							</div>
						</div>
						<div
							class="outline-none flex flex-col justify-start items-stretch flex-nowrap">
							<div
								class="outline-none flex-row flex-nowrap py-3 pl-3 pr-2 h-11 flex justify-between items-center gap-2 border border-gray-300 rounded focus-within:border-gray-500 focus:border-gray-500 font-medium placeholder:text-gray-500 [&amp;&gt;input]:flex-1 [&amp;&gt;input]:w-0 [&amp;&gt;input]:placeholder:text-gray-500">
								<input aria-invalid="false"
									class="bg-transparent border-none outline-none text-sm leading-5 flex-1"
									placeholder="이름 (20자 이내로 입력)" type="text"
									name="deliveryUserName">
								<button type="button" class="p-1 hidden">
									<svg fill="none" viewBox="0 0 20 20" width="20" height="20"
										color="#363738" aria-labelledby="CDS-IconXInCircleIcon">
							<title id="CDS-IconXInCircleIcon">IconXInCircle</title><path
											fill="#9CA3AF" fill-rule="evenodd"
											d="M10.5 2.5a8 8 0 1 1 0 16 8 8 0 0 1 0-16"
											clip-rule="evenodd"></path>
							<path fill="#fff" fill-rule="evenodd"
											d="M7.558 7.558a.625.625 0 0 1 .884 0L10.5 9.616l2.058-2.058a.625.625 0 1 1 .884.884L11.384 10.5l2.058 2.058a.625.625 0 1 1-.884.884L10.5 11.384l-2.058 2.058a.625.625 0 1 1-.884-.884L9.616 10.5 7.558 8.442a.625.625 0 0 1 0-.884"
											clip-rule="evenodd"></path></svg>
								</button>
							</div>
						</div>
						<div
							class="outline-none flex flex-col justify-start items-stretch flex-nowrap">
							<div
								class="outline-none flex-row flex-nowrap py-3 pl-3 pr-2 h-11 flex justify-between items-center gap-2 border border-gray-300 rounded focus-within:border-gray-500 focus:border-gray-500 font-medium placeholder:text-gray-500 [&amp;&gt;input]:flex-1 [&amp;&gt;input]:w-0 [&amp;&gt;input]:placeholder:text-gray-500">
								<input aria-invalid="false"
									class="bg-transparent border-none outline-none text-sm leading-5 flex-1"
									placeholder="휴대폰 번호 (- 없이 숫자만 입력)" type="text"
									name="deliveryUserPhoneNo">
								<button type="button" class="p-1 hidden">
									<svg fill="none" viewBox="0 0 20 20" width="20" height="20"
										color="#363738" aria-labelledby="CDS-IconXInCircleIcon">
										<title id="CDS-IconXInCircleIcon">IconXInCircle</title>
						<path fill="#9CA3AF" fill-rule="evenodd"
											d="M10.5 2.5a8 8 0 1 1 0 16 8 8 0 0 1 0-16"
											clip-rule="evenodd"></path>
						<path fill="#fff" fill-rule="evenodd"
											d="M7.558 7.558a.625.625 0 0 1 .884 0L10.5 9.616l2.058-2.058a.625.625 0 1 1 .884.884L11.384 10.5l2.058 2.058a.625.625 0 1 1-.884.884L10.5 11.384l-2.058 2.058a.625.625 0 1 1-.884-.884L9.616 10.5 7.558 8.442a.625.625 0 0 1 0-.884"
											clip-rule="evenodd"></path></svg>
								</button>
							</div>
						</div>
						<button type="button"
							class="rounded inline-flex items-center gap-2 py-3 min-w-[75px] h-11 bg-white border text-gray-900 active:border-gray-900 px-3 border-gray-300 w-full justify-start"
							aria-placeholder="주소 검색">
							<span
								class="whitespace-pre-line font-medium text-inherit text-14"><span
								class="whitespace-pre-line text-gray-500">주소 검색</span></span>
						</button>
						<div
							class="outline-none flex flex-col justify-start items-stretch flex-nowrap">
							<div
								class="outline-none flex-row flex-nowrap py-3 pl-3 pr-2 h-11 flex justify-between items-center gap-2 border border-gray-300 rounded focus-within:border-gray-500 focus:border-gray-500 font-medium placeholder:text-gray-500 [&amp;&gt;input]:flex-1 [&amp;&gt;input]:w-0 [&amp;&gt;input]:placeholder:text-gray-500">
								<input aria-invalid="false"
									class="bg-transparent border-none outline-none text-sm leading-5 flex-1"
									placeholder="상세주소 (예시: 101동 101호)" maxlength="50" type="text"
									name="deliveryAddressDetail">
								<button type="button" class="p-1 hidden">
									<svg fill="none" viewBox="0 0 20 20" width="20" height="20"
										color="#363738" aria-labelledby="CDS-IconXInCircleIcon">
						<title id="CDS-IconXInCircleIcon">IconXInCircle</title><path
											fill="#9CA3AF" fill-rule="evenodd"
											d="M10.5 2.5a8 8 0 1 1 0 16 8 8 0 0 1 0-16"
											clip-rule="evenodd"></path>
							<path fill="#fff" fill-rule="evenodd"
											d="M7.558 7.558a.625.625 0 0 1 .884 0L10.5 9.616l2.058-2.058a.625.625 0 1 1 .884.884L11.384 10.5l2.058 2.058a.625.625 0 1 1-.884.884L10.5 11.384l-2.058 2.058a.625.625 0 1 1-.884-.884L9.616 10.5 7.558 8.442a.625.625 0 0 1 0-.884"
											clip-rule="evenodd"></path></svg>
								</button>
							</div>
						</div>
					</div>
				</form>


				<div class="h-[6px] w-full"
					style="background-color: rgb(241, 244, 246);"></div>
				<div class="py-6  px-5">
					<h2 class="text-18 font-semibold text-gray-900 mb-4">안심결제 선택</h2>
					<!-- 결제 UI -->
					<div id="payment-method"></div>
				</div>
				<div class="h-[6px] w-full"
					style="background-color: rgb(241, 244, 246);"></div>
				<div
					class="outline-none flex flex-row justify-between items-center flex-nowrap py-6 px-5">
					<h2 class="text-18 font-semibold text-gray-900">최종 결제 금액</h2>
					<p th:text="${'610,650원'}"
						class="text-18 font-semibold text-Green-700">상품가격+수수료</p>
				</div>
				<div class="h-[1px] w-auto"
					style="background-color: rgb(241, 244, 246);"></div>
				<section
					class="outline-none flex flex-row justify-start items-stretch flex-nowrap py-6 px-5">
					<ul
						class="outline-none gap-2 flex flex-col justify-start items-stretch flex-nowrap w-full">
						<li
							class="outline-none flex items-stretch flex-nowrap justify-between w-full flex-row">
							<h3
								class="text-14 font-regular text-gray-500 flex gap-[2px] items-center">
								<span class="whitespace-pre-line text-gray-900">상품금액</span>
							</h3> <span class="z-auto rounded-none relative text-right break-all"><span
								class="whitespace-pre-line text-14 flex gap-1"
								aria-hidden="true"> <span th:text="${'590,000원'}"
									class="whitespace-pre-line font-semibold text-gray-900">
										상품 가격</span></span> </span>
						</li>
						<li
							class="outline-none flex items-stretch flex-nowrap justify-between w-full flex-row">
							<h3
								class="text-14 font-regular text-gray-500 flex gap-[2px] items-center">
								<span class="whitespace-pre-line text-gray-900">안심결제 수수료</span>
								<span th:text="${'3.5%'}"
									class="whitespace-pre-line text-gray-900 none"> 설정해둔 수수료</span>
							</h3> <span class="z-auto rounded-none relative text-right break-all"><span
								class="whitespace-pre-line text-14 flex gap-1"
								aria-hidden="true"> <span th:text="${'20,650원'}"
									class="whitespace-pre-line font-semibold"
									style="color: rgb(20, 19, 19);"> 계산된 수수료 값</span></span></span>
						</li>
						<li
							class="outline-none gap-1 flex flex-row justify-start items-stretch flex-nowrap"
							style="color: rgb(156, 163, 175);">
							<div class="z-auto rounded-none relative top-[-3px]">
								<svg width="12" height="12" fill="currentColor"
									viewBox="0 0 7 10" aria-labelledby="CDS-IconLineCornerIcon"
									aria-hidden="true">
									<path d="M.728 9.316V.064h.6v8.652h4.848v.6z"></path></svg>
							</div> <span
							class="whitespace-pre-line text-12 font-medium order-payment-description-text">안심결제
								수수료는 구매자가 부담합니다</span>
						</li>
					</ul>
				</section>
			</div>
			<footer
				class="z-auto rounded-none static bg-gray-100 py-[20px] px-[24px] leading-[17px] tracking-[0.2px]">
				<span
					class="text-12 font-regular whitespace-pre-line text-left text-gray-600 leading-[16px] tracking-[0.2px]">
					<span>“중고나라” 상점의 판매상품을 제외한 모든 상품들에 대하여</span> <strong
					class="whitespace-pre-line font-medium text-gray-900">(주)중고나라</strong><span>는
						통신판매중개자로서 거래 당사자가 아니며 판매 회원과 구매 회원 간의 상품거래 정보 및 거래에 관여하지 않고 어떠한
						의무와 책임도 부담하지 않습니다.</span>
				</span>
			</footer>
			<div
				class="sticky bottom-0 left-0 w-full bg-white py-4 px-5 z-50 mt-auto">
				<!-- 이용약관 UI -->
				<div id="agreement"></div>
				<button
					class="w-full h-14 bg-black text-white font-bold rounded-lg text-16 active:bg-gray-800"
					id="payment-button">
					<span th:text="${'610,650원 결제'}">결제하기</span>
				</button>
			</div>
		</main>
	<script>
	// fragment 내부 script 부분
	/* paymentFrm 프래그먼트 내부 스크립트 */
window.initTossPayments = async function () { // main() 대신 전역 함수 선언
    const button = document.getElementById("payment-button");
    const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    const tossPayments = TossPayments(clientKey);
    const customerKey = "YoA3w8vRTZPoaV13MAQ3j";
    
    const widgets = tossPayments.widgets({ customerKey });

    // 화면의 가격(610,650원)과 일치하도록 설정
    await widgets.setAmount({
        currency: "KRW",
        value: 610650, 
    });

    await Promise.all([
        widgets.renderPaymentMethods({
            selector: "#payment-method",
            variantKey: "DEFAULT",
        }),
        widgets.renderAgreement({ 
            selector: "#agreement", 
            variantKey: "AGREEMENT" 
        }),
    ]);

    button.addEventListener("click", async function () {
        await widgets.requestPayment({
            orderId: "ORDER_" + new Date().getTime(),
            orderName: "RTX 4070 super FE",
            successUrl: window.location.origin + "/payment/success",
            failUrl: window.location.origin + "/payment/fail",
        });
    });
};
    </script>
	</th:block>
</body>
</html>