<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>판매하기</title>
<link th:href="@{/css/output.css}" rel="stylesheet">
<link th:href="@{/css/test.css}" rel="stylesheet">
<style type="text/css">
#addr {
border: 1px solid #DADEE5;
border-radius: 1px;
width: 250px;
height: 35px;
padding: 3px 0 3px 10px;
margin-top: 10px
}
</style>
<!-- JQuery CDN -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {

	});
</script>
</head>
<body>
	<div id="__next">
		<div class="flex flex-col min-h-screen bg-white">
			<div th:replace="~{template/header :: headerImgFragment}"></div>
			<div th:replace="~{template/header :: headerFragment}"></div>

			<main class="relative flex-grow border-b-2"
				style="min-height: 0px !important; height: auto !important; padding-bottom: 100px">
				<div
					class="mx-auto max-w-[1280px] md:px-8 2xl:px-16 box-content max-lg:overflow-x-hidden px-0">
					<div></div>
					<form
						class="pt-6 mx-auto w-full max-w-[1020px] lg:pt-[72px] max-lg:overflow-x-hidden">
						<section class="px-5">
							<div
								class="relative pb-2 mb-3 text-lg font-semibold lg:pb-2.5 lg:mb-5 lg:text-2xl before:content-[''] before:absolute before:left-0 before:bottom-0 before:w-full before:h-[1px] before:bg-jnGray-900 !text-jnGray-900">
								<h1>상품 정보</h1>
							</div>
							<div
								class="flex flex-col space-y-4 lg:space-y-8 mb-[76px] lg:mb-[72px]">
								<section
									class="lg:grid lg:grid-cols-6 !text-jnGray-900 max-lg:!mb-8">
									<h2
										class="col-span-1 mb-3 text-base font-semibold lg:text-lg max-lg:py-1 pt-[10px]">썸네일
										이미지</h2>
									<div class="col-span-5">
										<div class="flex pb-1.5 max-lg:pb-0">
											<div class="pt-[10px]">
												<input name="media" type="file" multiple=""
													accept="image/png, image/jpeg, image/jpg" class="hidden">
												<button
													class="flex justify-center items-center mr-3 rounded bg-jnGray-200 lg:w-[100px] lg:h-[100px] w-[68px] h-[68px]">
													<div class="flex flex-col">
														<svg xmlns="http://www.w3.org/2000/svg"
															fill="currentColor" color="#787E89" viewBox="0 0 32 32"
															class="w-8 h-8 lg:w-12 lg:h-12">
															<path fill="color"
																d="M19.378 6c.38 0 .73.217.897.559l1.015 2.06q.03.06.05.123H26a2 2 0 0 1 2 2v13.259a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V10.742a2 2 0 0 1 2-2h4.66q.02-.062.05-.123l1.016-2.06A1 1 0 0 1 12.622 6zM16 12.198a5 5 0 1 0 .002 10.002A5 5 0 0 0 16 12.198m-.001 1.667a3.334 3.334 0 1 1 0 6.67 3.334 3.334 0 0 1 0-6.67"></path></svg>
													</div>
												</button>
											</div>
											<div class="overflow-hidden">
												<div
													class="os-host os-host-foreign os-theme-dark os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-scrollbar-vertical-hidden os-host-transition">
													<div class="os-resize-observer-host observed">
														<div class="os-resize-observer"
															style="left: 0px; right: auto;"></div>
													</div>
													<div class="os-size-auto-observer observed"
														style="height: calc(100% + 1px); float: left;">
														<div class="os-resize-observer"></div>
													</div>
													<div class="os-content-glue"
														style="width: 0px; margin: 0px; max-width: 100%; height: 10px;"></div>
													<div class="os-padding">
														<div
															class="os-viewport os-viewport-native-scrollbars-invisible os-viewport-native-scrollbars-overlaid">
															<div class="os-content"
																style="padding: 0px; height: auto; width: 100%; float: left;">
																<ul class="flex items-center pt-[10px]"></ul>
															</div>
														</div>
													</div>
													<div
														class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
														<div class="os-scrollbar-track os-scrollbar-track-off">
															<div class="os-scrollbar-handle"
																style="transform: translate(0px, 0px);"></div>
														</div>
													</div>
													<div
														class="os-scrollbar os-scrollbar-vertical os-scrollbar-unusable os-scrollbar-auto-hidden">
														<div class="os-scrollbar-track os-scrollbar-track-off">
															<div class="os-scrollbar-handle"
																style="height: 100%; transform: translate(0px, 0px);"></div>
														</div>
													</div>
													<div class="os-scrollbar-corner"></div>
												</div>
											</div>
										</div>
									</div>
								</section>
								<section
									class="lg:grid lg:grid-cols-6 !text-jnGray-900 max-lg:!mb-8">
									<h2
										class="col-span-1 mb-3 text-base font-semibold lg:text-lg max-lg:py-1 pt-[10px]">상품
										이미지</h2>
									<div class="col-span-5">
										<div class="flex pb-1.5 max-lg:pb-0">
											<div class="pt-[10px]">
												<input name="media" type="file" multiple=""
													accept="image/png, image/jpeg, image/jpg" class="hidden">
												<button
													class="flex justify-center items-center mr-3 rounded bg-jnGray-200 lg:w-[100px] lg:h-[100px] w-[68px] h-[68px]">
													<div class="flex flex-col">
														<svg xmlns="http://www.w3.org/2000/svg"
															fill="currentColor" color="#787E89" viewBox="0 0 32 32"
															class="w-8 h-8 lg:w-12 lg:h-12">
															<path fill="color"
																d="M19.378 6c.38 0 .73.217.897.559l1.015 2.06q.03.06.05.123H26a2 2 0 0 1 2 2v13.259a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V10.742a2 2 0 0 1 2-2h4.66q.02-.062.05-.123l1.016-2.06A1 1 0 0 1 12.622 6zM16 12.198a5 5 0 1 0 .002 10.002A5 5 0 0 0 16 12.198m-.001 1.667a3.334 3.334 0 1 1 0 6.67 3.334 3.334 0 0 1 0-6.67"></path></svg>
														<p class="text-jnGray-600 lg:text-base text-xs">0/10</p>
													</div>
												</button>
											</div>
											<div class="overflow-hidden">
												<div
													class="os-host os-host-foreign os-theme-dark os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-scrollbar-vertical-hidden os-host-transition">
													<div class="os-resize-observer-host observed">
														<div class="os-resize-observer"
															style="left: 0px; right: auto;"></div>
													</div>
													<div class="os-size-auto-observer observed"
														style="height: calc(100% + 1px); float: left;">
														<div class="os-resize-observer"></div>
													</div>
													<div class="os-content-glue"
														style="width: 0px; margin: 0px; max-width: 100%; height: 10px;"></div>
													<div class="os-padding">
														<div
															class="os-viewport os-viewport-native-scrollbars-invisible os-viewport-native-scrollbars-overlaid">
															<div class="os-content"
																style="padding: 0px; height: auto; width: 100%; float: left;">
																<ul class="flex items-center pt-[10px]"></ul>
															</div>
														</div>
													</div>
													<div
														class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
														<div class="os-scrollbar-track os-scrollbar-track-off">
															<div class="os-scrollbar-handle"
																style="transform: translate(0px, 0px);"></div>
														</div>
													</div>
													<div
														class="os-scrollbar os-scrollbar-vertical os-scrollbar-unusable os-scrollbar-auto-hidden">
														<div class="os-scrollbar-track os-scrollbar-track-off">
															<div class="os-scrollbar-handle"
																style="height: 100%; transform: translate(0px, 0px);"></div>
														</div>
													</div>
													<div class="os-scrollbar-corner"></div>
												</div>
											</div>
										</div>
									</div>
								</section>
								<section
									class="lg:grid lg:grid-cols-6 !text-jnGray-900 max-lg:!mt-0 max-lg:!mb-8">
									<h2
										class="col-span-1 mb-3 text-base font-semibold lg:text-lg max-lg:py-1 flex items-center justify-between gap-0.5 lg:block">상품명</h2>
									<div class="col-span-5">
										<div class="relative">
											<div class="relative">
												<input id="productTitle" name="productTitle" type="text"
													placeholder="상품명을 입력해 주세요."
													class="py-2 px-4 md:px-5 w-full appearance-none border text-input text-xs lg:text-sm font-body placeholder-body transition duration-200 ease-in-out bg-white border-gray-300 focus:border-heading h-11 md:h-12 body-medium-14 !h-11 !p-3 !pr-8 overflow-x-scroll min-h-fit lg:body-medium-16 lg:!h-12 placeholder:text-jnGray-500 focus:outline-none rounded"
													autocomplete="off" spellcheck="false" aria-invalid="false">
												<button class="absolute right-2 h-11 hidden">
													<svg width="20px" height="20px" viewBox="0 0 20 20"
														fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd"
															d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM7.44194 6.55806C7.19786 6.31398 6.80214 6.31398 6.55806 6.55806C6.31398 6.80214 6.31398 7.19786 6.55806 7.44194L9.11612 10L6.55806 12.5581C6.31398 12.8021 6.31398 13.1979 6.55806 13.4419C6.80214 13.686 7.19786 13.686 7.44194 13.4419L10 10.8839L12.5581 13.4419C12.8021 13.686 13.1979 13.686 13.4419 13.4419C13.686 13.1979 13.686 12.8021 13.4419 12.5581L10.8839 10L13.4419 7.44194C13.686 7.19786 13.686 6.80214 13.4419 6.55806C13.1979 6.31398 12.8021 6.31398 12.5581 6.55806L10 9.11612L7.44194 6.55806Z"
															fill="#9CA3AF"></path></svg>
												</button>
											</div>
										</div>
									</div>
								</section>
								<section
									class="lg:grid lg:grid-cols-6 !text-jnGray-900 max-lg:!mt-0 max-lg:!mb-8">
									<h2
										class="col-span-1 mb-3 text-base font-semibold lg:text-lg max-lg:py-1">카테고리</h2>
									<div class="col-span-5">
										<section name="productCategory">
											<div
												class="flex overflow-hidden flex-row w-full h-60 text-sm font-medium">
												<div id="category-depth-1"
													class="overflow-y-auto w-1/3 h-full rounded border border-solid border-jnGray-300">
													<ul class="flex flex-col border-solid border-jnGray-300">
														<li class="p-3 h-10" id="category-1"><button>
																<p class="truncate break-keep">노트북/PC</p>
															</button></li>
														<li class="p-3 h-10" id="category-2"><button>
																<p class="truncate break-keep">패션의류</p>
															</button></li>
														<li class="p-3 h-10" id="category-3"><button>
																<p class="truncate break-keep">패션잡화</p>
															</button></li>
														<li class="p-3 h-10" id="category-4"><button>
																<p class="truncate break-keep">게임</p>
															</button></li>
														<li class="p-3 h-10" id="category-5"><button>
																<p class="truncate break-keep">뷰티</p>
															</button></li>
														<li class="p-3 h-10" id="category-6"><button>
																<p class="truncate break-keep">리빙/생활</p>
															</button></li>
														<li class="p-3 h-10" id="category-7"><button>
																<p class="truncate break-keep">스포츠</p>
															</button></li>
														<li class="p-3 h-10" id="category-8"><button>
																<p class="truncate break-keep">티켓/쿠폰</p>
															</button></li>
														<li class="p-3 h-10" id="category-9"><button>
																<p class="truncate break-keep">레저/여행</p>
															</button></li>
														<li class="p-3 h-10" id="category-10"><button>
																<p class="truncate break-keep">가전제품</p>
															</button></li>
													</ul>
												</div>
											</div>
										</section>
									</div>
								</section>
								<section
									class="lg:grid lg:grid-cols-6 !text-jnGray-900 max-lg:!mt-0 max-lg:!mb-8">
									<h2
										class="col-span-1 mb-3 text-base font-semibold lg:text-lg max-lg:py-1">판매
										가격</h2>
									<div class="col-span-5">
										<div class="flex flex-col w-full">
											<div
												class="flex relative flex-row-reverse flex-wrap-reverse gap-4 items-center sm:flex-nowrap sm:flex-row sm:translate-y-0">
												<div
													class="relative p-3 w-full h-11 rounded border border-gray-300 border-solid lg:h-12"
													style="display: flex; flex-flow: row; justify-content: space-between; align-items: center;">
													<label for="search"
														class="flex items-center w-full text-sm lg:text-base"><span
														class="body-medium-14 text-jnGray-500 lg:body-medium-16">₩</span><input
														name="productPrice" type="text" inputmode="numeric"
														class="ml-1 w-full bg-white body-medium-14 lg:body-medium-16 focus:outline-none disabled:opacity-100 placeholder:text-jnGray-500"
														placeholder="판매가격" value="">
													<button class="absolute right-2 h-11 hidden">
															<svg width="20px" height="20px" viewBox="0 0 20 20"
																fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd"
																	d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM7.44194 6.55806C7.19786 6.31398 6.80214 6.31398 6.55806 6.55806C6.31398 6.80214 6.31398 7.19786 6.55806 7.44194L9.11612 10L6.55806 12.5581C6.31398 12.8021 6.31398 13.1979 6.55806 13.4419C6.80214 13.686 7.19786 13.686 7.44194 13.4419L10 10.8839L12.5581 13.4419C12.8021 13.686 13.1979 13.686 13.4419 13.4419C13.686 13.1979 13.686 12.8021 13.4419 12.5581L10.8839 10L13.4419 7.44194C13.686 7.19786 13.686 6.80214 13.4419 6.55806C13.1979 6.31398 12.8021 6.31398 12.5581 6.55806L10 9.11612L7.44194 6.55806Z"
																	fill="#9CA3AF"></path></svg>
														</button></label>
												</div>
											</div>
											<div
												class="sm:mt-2.5 h-4 sm:h-5 detail-medium-12 sm:body-regular-14">
												<p class="text-green-700"></p>
											</div>
										</div>
									</div>
								</section>
								<section
									class="lg:grid lg:grid-cols-6 !text-jnGray-900 max-lg:!mt-0 max-lg:!mb-8">
									<h2
										class="col-span-1 mb-3 text-base font-semibold lg:text-lg max-lg:py-1">상품
										설명</h2>
									<div class="col-span-5">
										<div class="gap-1"
											style="display: flex; flex-flow: column; justify-content: flex-start; align-items: stretch;">
											<div
												class="relative rounded border min-h-[265px] gap-3 p-3 lg:p-5 lg:min-h-[284px] border-jnGray-300 focus-within:border-heading"
												style="display: flex; flex-flow: column; justify-content: space-between; align-items: stretch;">
												<div class="flex-1"
													style="display: flex; flex-flow: row; justify-content: flex-start; align-items: flex-start; gap: 10px;">
													<div class="w-full h-[220px]">
														<textarea id="productDescription"
															name="productDescription"
															class="items-center w-full rounded transition duration-300 ease-in-out text-heading text-sm focus:ring-0 bg-white border border-gray-300 focus:shadow focus:outline-none focus:border-heading placeholder-body break-all inline-block outline-none align-middle appearance-none border-none body-medium-14_reading lg:body-medium-16 px-0 py-0 placeholder:text-jnGray-500 [field-sizing:content] resize-none max-h-full h-full"
															autocomplete="off" spellcheck="false"
															placeholder="- 상품명(브랜드)
- 구매 시기 (년, 월, 일)
- 사용 기간
- 하자 여부
* 실제 촬영한 사진과 함께 상세 정보를 입력해주세요.
* 카카오톡 아이디 첨부 시 게시물 삭제 및 이용제재 처리될 수 있어요.
 
안전하고 건전한 거래환경을 위해 과학기술정보통신부, 한국인터넷진흥원, 중고나라가 함께합니다."
															maxlength="5000"></textarea>
													</div>
													<button class="hidden">
														<svg width="20px" height="20px" viewBox="0 0 20 20"
															fill="none" xmlns="http://www.w3.org/2000/svg">
															<path fill-rule="evenodd" clip-rule="evenodd"
																d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM7.44194 6.55806C7.19786 6.31398 6.80214 6.31398 6.55806 6.55806C6.31398 6.80214 6.31398 7.19786 6.55806 7.44194L9.11612 10L6.55806 12.5581C6.31398 12.8021 6.31398 13.1979 6.55806 13.4419C6.80214 13.686 7.19786 13.686 7.44194 13.4419L10 10.8839L12.5581 13.4419C12.8021 13.686 13.1979 13.686 13.4419 13.4419C13.686 13.1979 13.686 12.8021 13.4419 12.5581L10.8839 10L13.4419 7.44194C13.686 7.19786 13.686 6.80214 13.4419 6.55806C13.1979 6.31398 12.8021 6.31398 12.5581 6.55806L10 9.11612L7.44194 6.55806Z"
																fill="#9CA3AF"></path></svg>
													</button>
												</div>
												<div class="self-end"
													style="display: flex; flex-flow: row; justify-content: flex-start; align-items: stretch;">
													<span class="font-medium text-gray-400 text-[14px]"><span
														class="">0</span> / 5000</span>
												</div>
											</div>
										</div>
									</div>
								</section>
								<section
									class="lg:grid lg:grid-cols-6 !text-jnGray-900 max-lg:!mt-0 max-lg:!mb-8">
									<h2
										class="col-span-1 mb-3 text-base font-semibold lg:text-lg max-lg:py-1">상품
										상태</h2>
									<div class="col-span-5">
										<ul class="flex">
											<li class="flex items-center mr-4 contents-center"><label
												for="used" class="flex items-start"><input
													type="radio" id="used" name="condition.productCondition"
													class="appearance-none rounded-full w-5 h-5 mt-0.5 mr-2 border-1.5 border-solid border-jnGray-500 transition-all duration-100 ease-linear cursor-pointer checked:border-6 checked:border-jngreen disabled:border-jnGray-400 disabled:bg-jnGray-300 disabled:cursor-not-allowed"
													value="2" checked="">
												<div
														class="flex flex-col space-y-2 [&amp;&gt;span]:text-sm lg:[&amp;&gt;span]:text-base [&amp;&gt;span:nth-child(2)]:text-xs lg:[&amp;&gt;span:nth-child(2)]:text-sm">
														<span
															class="text-base font-semibold leading-6 cursor-pointer text-jnGray-900">중고</span>
													</div></label></li>
											<li class="flex items-center mr-4 contents-center"><label
												for="new" class="flex items-start"><input
													type="radio" id="new" name="condition.productCondition"
													class="appearance-none rounded-full w-5 h-5 mt-0.5 mr-2 border-1.5 border-solid border-jnGray-500 transition-all duration-100 ease-linear cursor-pointer checked:border-6 checked:border-jngreen disabled:border-jnGray-400 disabled:bg-jnGray-300 disabled:cursor-not-allowed"
													value="0">
												<div
														class="flex flex-col space-y-2 [&amp;&gt;span]:text-sm lg:[&amp;&gt;span]:text-base [&amp;&gt;span:nth-child(2)]:text-xs lg:[&amp;&gt;span:nth-child(2)]:text-sm">
														<span
															class="text-base font-semibold leading-6 cursor-pointer text-jnGray-900">새상품</span>
													</div></label></li>
										</ul>
									</div>
								</section>
								<section class="lg:grid lg:grid-cols-6 !text-jnGray-900 max-lg:!mt-0 max-lg:!mb-8">
									<h2 class="col-span-1 mb-3 text-base font-semibold lg:text-lg max-lg:py-1 flex items-center justify-between gap-0.5 lg:block">태그</h2>
									<div class="col-span-5">
										<div class="relative">
											<div class="relative">
												<input id="productTitle" name="productTitle" type="text" placeholder="태그를 입력해 주세요." class="py-2 px-4 md:px-5 w-full appearance-none border text-input text-xs lg:text-sm font-body placeholder-body transition duration-200 ease-in-out bg-white border-gray-300 focus:border-heading h-11 md:h-12 body-medium-14 !h-11 !p-3 !pr-8 overflow-x-scroll min-h-fit lg:body-medium-16 lg:!h-12 placeholder:text-jnGray-500 focus:outline-none rounded" autocomplete="off" spellcheck="false" aria-invalid="false">
												<button class="absolute right-2 h-11 hidden">
													<svg width="20px" height="20px" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM7.44194 6.55806C7.19786 6.31398 6.80214 6.31398 6.55806 6.55806C6.31398 6.80214 6.31398 7.19786 6.55806 7.44194L9.11612 10L6.55806 12.5581C6.31398 12.8021 6.31398 13.1979 6.55806 13.4419C6.80214 13.686 7.19786 13.686 7.44194 13.4419L10 10.8839L12.5581 13.4419C12.8021 13.686 13.1979 13.686 13.4419 13.4419C13.686 13.1979 13.686 12.8021 13.4419 12.5581L10.8839 10L13.4419 7.44194C13.686 7.19786 13.686 6.80214 13.4419 6.55806C13.1979 6.31398 12.8021 6.31398 12.5581 6.55806L10 9.11612L7.44194 6.55806Z" fill="#9CA3AF"></path></svg>
												</button>
											</div>
										</div>
									</div>
								</section>
							</div>
						</section>
						<section class="px-5 lg:mb-[100px]" style="padding-top: 50px !important; margin-bottom: 80px !important">
							<div
								class="relative pb-2 mb-3 text-lg font-semibold lg:pb-2.5 lg:mb-5 lg:text-2xl before:content-[''] before:absolute before:left-0 before:bottom-0 before:w-full before:h-[1px] before:bg-jnGray-900 !text-jnGray-900">
								<h1>거래 방법</h1>
								<p
									class="text-sm font-normal text-jnGray-600 max-lg:text-xs lg:text-base mt-1">구매자가
									결제한 이후에는 거래 방법을 변경할 수 없어요</p>
							</div>
							<div class="flex flex-col pb-5 space-y-5">
								<div>
									<ul class="[&amp;&gt;*:first-child]:my-4">
										<section class="lg:grid lg:grid-cols-6 !text-jnGray-900">
											<h2
												class="col-span-1 mb-3 text-base font-semibold lg:text-lg max-lg:py-1">택배거래</h2>
											<div class="col-span-5">
												<li
													class="relative text-sm font-medium truncate break-keep mr-3.5 last:mr-0"><div
														class="flex justify-between items-center">
														<label for="isPost" class="flex items-center gap-1"><div
																class="hidden appearance-none">
																<input id="isPost" name="tradeType" type="checkbox"
																	class="py-2 px-4 md:px-5 w-full appearance-none border text-input text-xs lg:text-sm font-body placeholder-body min-h-12 transition duration-200 ease-in-out bg-gray-100 border-gray-300 focus:shadow focus:bg-white focus:border-primary rounded"
																	autocomplete="off" spellcheck="false"
																	aria-invalid="false">
															</div>
															<svg xmlns="http://www.w3.org/2000/svg" fill="none"
																viewBox="0 0 20 20" class="w-6 h-6" color="#0DCC5A">
																<path fill="currentColor" fill-rule="evenodd"
																	d="M17.5 10a7.5 7.5 0 1 1-15 0 7.5 7.5 0 0 1 15 0m-3.636-1.97a.75.75 0 1 0-1.061-1.06L8.75 11.023 7.197 9.47a.75.75 0 0 0-1.06 1.06l2.083 2.084a.75.75 0 0 0 1.06 0z"
																	clip-rule="evenodd"></path></svg>
															<div
																class="flex flex-col ml-1 space-y-2 text-base font-medium">
																<span
																	class="text-base font-semibold leading-6 cursor-pointer text-jnGray-900">택배거래</span>
															</div></label>
													</div></li>
											</div>
										</section>
										<hr class="bg-jnGray-200 h-[1px] w-full my-6">
										<section class="lg:grid lg:grid-cols-6 !text-jnGray-900">
											<h2
												class="col-span-1 mb-3 text-base font-semibold lg:text-lg max-lg:py-1">직거래</h2>
											<div class="col-span-5">
												<li
													class="relative text-sm font-medium truncate break-keep mr-3.5 last:mr-0"><div
														class="flex justify-between items-center">
														<label for="isMeet" class="flex items-center gap-1"><div
																class="hidden appearance-none">
																<input id="isMeet" name="tradeType" type="checkbox"
																	class="py-2 px-4 md:px-5 w-full appearance-none border text-input text-xs lg:text-sm font-body placeholder-body min-h-12 transition duration-200 ease-in-out bg-gray-100 border-gray-300 focus:shadow focus:bg-white focus:border-primary rounded"
																	autocomplete="off" spellcheck="false"
																	aria-invalid="false">
															</div>
															<svg xmlns="http://www.w3.org/2000/svg" fill="none"
																viewBox="0 0 20 20" class="w-6 h-6" color="#C2C6CE">
																<path fill="currentColor" fill-rule="evenodd"
																	d="M17.5 10a7.5 7.5 0 1 1-15 0 7.5 7.5 0 0 1 15 0m-3.636-1.97a.75.75 0 1 0-1.061-1.06L8.75 11.023 7.197 9.47a.75.75 0 0 0-1.06 1.06l2.083 2.084a.75.75 0 0 0 1.06 0z"
																	clip-rule="evenodd"></path></svg>
															<div class="flex flex-col ml-1 space-y-2 text-base font-medium">
																<span
																	class="text-base font-semibold leading-6 cursor-pointer text-jnGray-900">만나서
																	직거래</span>
															</div></label>
													</div>
													<div class="flex flex-row justify-items-center items-center text-xs font-medium mt-2.5">
													<input type="text" name="addr" id="addr" placeholder="거래 지역을 입력해주세요. ex) 가양동">
													</div>
													</li>
											</div>
										</section>
										<section class="lg:grid lg:grid-cols-6 !text-jnGray-900">
											<h2
												class="col-span-1 mb-3 text-base font-semibold lg:text-lg max-lg:py-1 opacity-0 hidden lg:block"></h2>
											<div class="col-span-5"></div>
										</section>
										<hr class="bg-jnGray-200 h-[1px] w-full my-6">
									</ul>
								</div>
							</div>
						</section>
						<div
							class="flex fixed bottom-0 left-0 z-10 flex-col items-center w-full bg-white lg:relative">
							<p
								class="flex items-center px-5 w-full border-t border-b border-jnGray-200 py-[10px] justify-center text-[11px] sm:text-sm max-w-[1020px] text-jnGray-600">판매
								정보가 실제 상품과 다를 경우, 책임은 판매자에게 있음을 동의합니다.</p>
							<div class="w-full px-5 py-3 max-w-[1020px]">
								<button data-variant="flat"
									class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent placeholder-white focus-visible:outline-none focus:outline-none rounded-md bg-heading text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-cart w-full break-keep"
									type="submit">판매하기</button>
							</div>
						</div>
					</form>
				</div>
				<div class="Toastify"></div>
			</main>

			<div th:replace="~{template/footer :: footerFragment}"></div>
		</div>
	</div>
</body>
</html>