<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:fragment="sellSuccessFrm">
<main role="main" aria-label="본문 영역" id="main-content" class="h-[calc(100%-var(--top-navigation-height))] overflow-auto relative">
	<section class="outline-none flex flex-col justify-center items-center flex-nowrap py-[36px] w-full">
				<div
					class="outline-none gap-4 flex flex-col justify-center items-center flex-nowrap">
					<div
						class="outline-none gap-2 flex flex-col justify-start items-center flex-nowrap">
						<div
							class="outline-none flex flex-row justify-start items-stretch flex-nowrap w-[80px] h-[80px]"
							aria-hidden="true">
							<svg xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"
								width="512" height="512" preserveAspectRatio="xMidYMid meet"
								style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
								<defs>
								<clipPath id="__lottie_element_2">
								<rect width="512" height="512" x="0" y="0"></rect></clipPath></defs>
								<g clip-path="url(#__lottie_element_2)">
								<g style="display: none;">
								<g>
								<path></path></g></g>
								<g style="display: none;"
									transform="matrix(2.0631601810455322,0,0,2.0631601810455322,256,257.8599853515625)"
									opacity="0.01787420248269541">
								<g opacity="1" transform="matrix(1,0,0,1,0,-3)">
								<path fill="rgb(194,241,213)" fill-opacity="1"
									d=" M0,-118 C65.12419891357422,-118 118,-65.12419891357422 118,0 C118,65.12419891357422 65.12419891357422,118 0,118 C-65.12419891357422,118 -118,65.12419891357422 -118,0 C-118,-65.12419891357422 -65.12419891357422,-118 0,-118z"></path>
								<path stroke-linecap="butt" stroke-linejoin="miter"
									fill-opacity="0" stroke-miterlimit="4"
									stroke="rgb(194,241,213)" stroke-opacity="1" stroke-width="2"
									d=" M0,-118 C65.12419891357422,-118 118,-65.12419891357422 118,0 C118,65.12419891357422 65.12419891357422,118 0,118 C-65.12419891357422,118 -118,65.12419891357422 -118,0 C-118,-65.12419891357422 -65.12419891357422,-118 0,-118z"></path></g></g>
								<g style="display: block;"
									transform="matrix(1.5,0,0,1.5,256,257.8599853515625)"
									opacity="1">
								<g opacity="1" transform="matrix(1,0,0,1,0,-3)">
								<path fill="rgb(13,204,89)" fill-opacity="1"
									d=" M0,-118 C65.12419891357422,-118 118,-65.12419891357422 118,0 C118,65.12419891357422 65.12419891357422,118 0,118 C-65.12419891357422,118 -118,65.12419891357422 -118,0 C-118,-65.12419891357422 -65.12419891357422,-118 0,-118z"></path></g></g>
								<g style="display: block;" transform="matrix(1,0,0,1,256,256)"
									opacity="1">
								<g opacity="1" transform="matrix(1,0,0,1,0,0)">
								<path stroke-linecap="round" stroke-linejoin="round"
									fill-opacity="0" stroke="rgb(255,255,255)" stroke-opacity="1"
									stroke-width="30"
									d=" M-82.5,4.5 C-82.5,4.5 -31,55 -31,55 C-31,55 73,-52.5 73,-52.5"></path></g></g></g></svg>
						</div>
						<span
							class="whitespace-pre-line text-20 font-semibold text-gray-900">주문완료</span>
					</div>
					<div
						class="outline-none gap-1 flex flex-col justify-center items-center flex-nowrap">
						<span
							class="whitespace-pre-line text-16 font-medium text-gray-900 text-center">거래번호 260119155532777JMTWE</span>
							<span class="whitespace-pre-line text-16 font-regular text-gray-600 text-center">입금기한 내 입금 후 거래가 진행됩니다.</span>
					</div>
				</div>
			</section>
			<div class="h-[6px] w-full" style="background-color: rgb(241, 244, 246);"></div>
			<div
				class="outline-none gap-4 flex flex-col justify-start items-stretch flex-nowrap py-6 px-5">
				<div
					class="outline-none gap-1 flex flex-col justify-start items-stretch flex-nowrap">
					<div
						class="outline-none flex flex-row justify-between items-center flex-nowrap">
						<h2
							class="whitespace-pre-line text-18 font-semibold text-gray-900">입금 정보</h2>
					</div>
				</div>
				<div
					class="outline-none gap-3 flex flex-col justify-start items-stretch flex-nowrap">
					<section
						class="outline-none flex flex-row justify-start items-stretch flex-nowrap">
						<ul
							class="outline-none gap-2 flex flex-col justify-start items-stretch flex-nowrap w-full">
							<li
								class="outline-none flex items-stretch flex-nowrap justify-between w-full flex-row"><h3
									class="text-gray-500">입금은행</h3>
								<span class="z-auto rounded-none relative text-right break-all"><span
									class="whitespace-pre-line" aria-hidden="false">국민은행</span></span></li>
							<li
								class="outline-none flex items-stretch flex-nowrap justify-between w-full flex-row"><h3
									class="text-gray-500">계좌번호</h3>
								<span class="z-auto rounded-none relative text-right break-all"><span class="whitespace-pre-line">99449014101020</span>
									<button type="button" class="cursor-pointer"
											aria-label="계좌번호 복사">
											<svg width="16" height="16" viewBox="0 0 16 16" fill="none"
												color="#787E89">
												<rect x="3" y="4.44995" width="8.46154" height="9.75" rx="1"
													stroke="#787E89"></rect>
												<path
													d="M5.53809 3.5483V3.39665V3.19995C5.53809 2.64767 5.9858 2.19995 6.53809 2.19995H12.9996C13.5519 2.19995 13.9996 2.64767 13.9996 3.19995V10.95C13.9996 11.5022 13.5519 11.95 12.9996 11.95H12.6445H12.4759"
													stroke="#787E89"></path></svg>
										</button></span></li>
							<li
								class="outline-none flex items-stretch flex-nowrap justify-between w-full flex-row"><h3
									class="text-gray-500">예금주</h3>
								<span class="z-auto rounded-none relative text-right break-all"><span
									class="whitespace-pre-line" aria-hidden="false">(주)중고나라</span></span></li>
							<li
								class="outline-none flex items-stretch flex-nowrap justify-between w-full flex-row"><h3
									class="text-gray-500">입금요청액</h3>
								<span class="z-auto rounded-none relative text-right break-all"><span
									class="whitespace-pre-line" aria-hidden="false">11,111원</span></span></li>
							<li
								class="outline-none flex items-stretch flex-nowrap justify-between w-full flex-row"><h3
									class="text-gray-500">입금기한</h3>
								<span class="z-auto rounded-none relative text-right break-all"><span
									class="whitespace-pre-line text-jnGreen-700"
									aria-hidden="false">2026.01.20 15:55까지</span></span></li>
						</ul>
					</section>
				</div>
			</div>
			<div class="h-[6px] w-full" style="background-color: rgb(241, 244, 246);"></div>
			<div
				class="outline-none gap-4 flex flex-col justify-start items-stretch flex-nowrap py-6 px-5">
				<div
					class="outline-none gap-1 flex flex-col justify-start items-stretch flex-nowrap">
					<div
						class="outline-none flex flex-row justify-between items-center flex-nowrap">
						<h2
							class="whitespace-pre-line text-18 font-semibold text-gray-900">상품 정보</h2>
					</div>
				</div>
				<div
					class="outline-none gap-3 flex flex-col justify-start items-stretch flex-nowrap">
					<div
						class="outline-none gap-4 flex flex-row justify-start items-center flex-nowrap">
						<div
							class="outline-none flex flex-row justify-start items-stretch flex-nowrap rounded-lg overflow-hidden"
							style="width: 64px; height: 64px;">
							<img alt="1조 중고나라" class="w-full h-full object-cover"
								src="https://img2.joongna.com/media/original/2026/01/14/1768367945806vBw_cBK8M.png?impolicy=thumb&amp;size=150">
						</div>
						<div
							class="outline-none gap-1 flex flex-col justify-start items-stretch flex-nowrap flex-1">
							<p
								class="whitespace-pre-line text-16 font-semibold text-gray-700 break-all line-clamp-2">1조 중고나라</p>
							<span
								class="whitespace-pre-line text-18 font-semibold text-gray-900">11,111원</span>
						</div>
					</div>
				</div>
			</div>
			<div class="h-[6px] w-full" style="background-color: rgb(241, 244, 246);"></div>
			<div
				class="outline-none gap-4 flex flex-col justify-start items-stretch flex-nowrap py-6 px-5">
				<div
					class="outline-none gap-1 flex flex-col justify-start items-stretch flex-nowrap">
					<div
						class="outline-none flex flex-row justify-between items-center flex-nowrap">
						<h2
							class="whitespace-pre-line text-18 font-semibold text-gray-900">거래 정보</h2>
					</div>
				</div>
				<div
					class="outline-none gap-3 flex flex-col justify-start items-stretch flex-nowrap">
					<section
						class="outline-none flex flex-row justify-start items-stretch flex-nowrap">
						<ul
							class="outline-none gap-2 flex flex-col justify-start items-stretch flex-nowrap w-full">
							<li
								class="outline-none flex items-stretch flex-nowrap justify-between w-full flex-row"><h3
									class="text-gray-500">거래방법</h3>
								<span class="z-auto rounded-none relative text-right break-all"><span
									class="whitespace-pre-line" aria-hidden="false">직거래</span></span></li>
							<li
								class="outline-none flex items-stretch flex-nowrap justify-between w-full flex-row"><h3
									class="text-gray-500">결제일시</h3>
								<span class="z-auto rounded-none relative text-right break-all"><span
									class="whitespace-pre-line" aria-hidden="true">2026.01.19
										15:55</span><span
									class="sr-only overflow-hidden absolute clip-[rect(0,0,0,0)] clip-path-[circle(0)] w-[1px] h-[1px] m-[-1px] border-0 p-0 whitespace-nowrap">
									2026년 01월 19일 15시 55분</span></span></li>
							<li
								class="outline-none flex items-stretch flex-nowrap justify-between w-full flex-row"><h3
									class="text-gray-500">결제수단</h3>
								<span class="z-auto rounded-none relative text-right break-all"><span
									class="whitespace-pre-line" aria-hidden="false">무통장입금</span></span></li>
						</ul>
					</section>
				</div>
			</div>
			<div class="h-[6px] w-full" style="background-color: rgb(241, 244, 246);"></div>
			<div
				class="outline-none gap-4 flex flex-col justify-start items-stretch flex-nowrap py-6 px-5">
				<div
					class="outline-none gap-1 flex flex-col justify-start items-stretch flex-nowrap">
					<div
						class="outline-none flex flex-row justify-between items-center flex-nowrap">
						<h2
							class="whitespace-pre-line text-18 font-semibold text-gray-900">결제금액 정보</h2>
					</div>
				</div>
				<div
					class="outline-none gap-3 flex flex-col justify-start items-stretch flex-nowrap">
					<section
						class="outline-none flex flex-row justify-start items-stretch flex-nowrap">
						<ul
							class="outline-none gap-2 flex flex-col justify-start items-stretch flex-nowrap w-full">
							<li
								class="outline-none flex items-stretch flex-nowrap justify-between w-full flex-row"><h3
									class="text-gray-500">상품금액</h3>
								<span class="z-auto rounded-none relative text-right break-all"><span
									class="whitespace-pre-line" aria-hidden="false">11,111원</span></span></li>
							<li
								class="outline-none flex items-stretch flex-nowrap justify-between w-full flex-row"><h3
									class="text-gray-500">안심결제 수수료</h3>
								<span class="z-auto rounded-none relative text-right break-all"><span
									class="whitespace-pre-line" aria-hidden="false">0원</span></span></li>
						</ul>
					</section>
				</div>
			</div>
			<div class="h-[6px] w-full" style="background-color: rgb(241, 244, 246);"></div>
			<div
				class="outline-none gap-4 flex flex-col justify-start items-stretch flex-nowrap py-6 px-5">
				<div
					class="outline-none gap-1 flex flex-col justify-start items-stretch flex-nowrap">
					<div
						class="outline-none flex flex-row justify-between items-center flex-nowrap">
						<h2
							class="whitespace-pre-line text-18 font-semibold text-gray-900">최종 결제 금액</h2>
						<span class="whitespace-pre-line font-semibold text-Green-700">11,111원</span>
					</div>
				</div>
			</div>
			<div class="z-auto rounded-none static">
				<div
					class="w-full bg-white border-t border-gray-200 flex justify-center items-center pb-[10px]"
					style="z-index: 100; left: 0px; right: 0px; bottom: 0px;">
					<div
						class="outline-none gap-2 flex flex-row justify-center items-center flex-nowrap py-3 px-5 bg-white w-full">
						<button onclick="closeDrawer()"
							class="rounded inline-flex justify-center items-center gap-2 px-4 py-3.5 w-full h-13 bg-white border border-gray-400 text-gray-900 active:border-gray-900 flex-1">
							<span
								class="whitespace-pre-line font-medium text-inherit text-16">계속 쇼핑</span>
						</button>
						<button
							class="rounded inline-flex justify-center items-center gap-2 px-4 py-3.5 w-full h-13 text-white bg-gray-900 border active:border-gray-700 flex-1">
							<span
								class="whitespace-pre-line font-medium text-inherit text-16">구매내역</span>
						</button>
					</div>
				</div>
			</div>
</main>
</th:block>
</body>
</html>