<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/output.css}" rel="stylesheet">
<style type="text/css">
</style>

</head>
<body>

<div th:fragment="headerImgFragment" class="ga4_main_top_banner flex h-[60px] w-full cursor-pointer max-[480px]:hidden z-20 fixed top-0 bg-[#141313]">
	<a th:href="@{#}" target="_self" class="w-full max-w-[1960px] relative mx-auto">
	<img src="/main-web/_next/static/media/app-download-banner.16dfe881.webp"
		alt="중고나라 검색페이지 이동 이미지" fetchpriority="high" decoding="async"
		data-nimg="fill" class="object-cover h-full mx-auto"
		style="position: absolute; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; color: transparent">
			<!-- 이미지 수정이랑 메인으로 가는 링크 연결 필요합니다. -->
	</a>
</div>





<header th:fragment="headerFragment" id="siteHeader" class="headerThree relative z-20 w-full h-16 sm:h-20 lg:h-36 xl:h-40 lg:mt-[60px] max-[480px]:mt-[73px]">
	<script type="text/javascript">
	function openChatDrawer() {
    	fetch('/chat/list')
        .then(res => res.text())
        .then(html => {
           	// 서랍 내부의 콘텐츠 영역(ID: drawerContent)에 서버가 보낸 HTML 주입
           	document.getElementById('drawerContent').innerHTML = html;
           	openDrawer('채팅'); // 서랍 여는 공통 함수 실행
        });
	}
	function openChatContentsForm() {
	    fetch('/chat/contents')
	        .then(res => res.text())
	        .then(html => {
	            // 서랍 내부의 콘텐츠 영역(ID: drawerContent)에 서버가 보낸 HTML 주입
	            document.getElementById('drawerContent').innerHTML = html;
	            document.getElementById('drawerContent').scrollTop = 0;
	        });
	}
	function openDrawer(title) {
    	const titleElement = document.getElementById('drawerTitle');
    	if (titleElement && title) {
        	titleElement.innerText = title;
    	}

    	// 서랍 열기
    	document.getElementById('drawer').classList.remove('translate-x-full');
    
    	// 배경 보이기
    	const overlay = document.getElementById('overlay');
    	overlay.classList.remove('hidden');
    	setTimeout(() => overlay.classList.remove('opacity-0'), 10); // 부드러운 효과를 위해

    	// 뒷배경 스크롤 방지
    	document.body.style.overflow = 'hidden';
	}
	</script>
	<div id="header_items_wrapper" class="px-4 md:px-8 lg:px-0 h-16 sm:h-20 lg:h-36 xl:h-40 w-full transition duration-200 ease-in-out border-b border-jnGray-300 fixed z-20 text-gray-700 bg-white innerSticky body-font">
		<div class="h-full lg:h-20 xl:h-24 px-0 lg:px-8 2xl:px-16 max-w-[1024px] min-[1600px]:max-w-[1280px] flex items-center mx-auto box-content justify-between relative before:absolute before:w-screen before:bg-[#F1F1F1] before:bottom-0">
			<div class="flex flex-1 lg:max-w-[200px]">
				<a href="/" style="width: 200px; height: 30px"	class="ga4_main_top_logo max-[1023px]:!w-[97px] max-[1023px]:!h-[16px] lg:w-full lg:flex-1 inline-flex focus:outline-none relative">
					<img
						src="https://web.joongna.com/main-web/assets/images/custom-logo.svg"
						alt="Joonggonara"
						style="position: absolute; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0;" />
						<!-- 로고 이미지 변경이랑 메인으로 가는 링크 연결 필요 -->
					</a>
				</div>

				<div class="hidden relative flex-1 ms-7 me-7 xl:ms-9 lg:block">
					<form role="search" id="searchFrm" action="/searchList"
						class="w-full relative flex items-center h-10 overflow-hidden rounded-md bg-jnGray-200 px-3 py-[10px] lg:px-5 space-x-2">
						<label for="search"
							class="flex items-center py-0.5 flex-none w-4 h-4"> <svg
								width="24" height="24" viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
								class="w-[16px] h-[16px] text-[#9CA3AF]">
							<path
									d="M10.0278 19.0556C14.3233 19.0556 17.8056 15.5733 17.8056 11.2778C17.8056 6.98223 14.3233 3.5 10.0278 3.5C5.73223 3.5 2.25 6.98223 2.25 11.2778C2.25 15.5733 5.73223 19.0556 10.0278 19.0556Z"
									stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
									stroke-linejoin="round" fill="transparent"></path>
							<path d="M21 21.8999L15.5 16.8999" stroke="currentColor"
									stroke-width="1.5" stroke-linecap="round"
									stroke-linejoin="round"></path></svg>
						</label> <input id="search-box" name="keyword"
							placeholder="어떤 상품을 찾으시나요? 카페상품, 앱상품 모두 검색"
							class="flex-auto text-sm text-heading bg-transparent placeholder-[#9CA3AF] overflow-hidden text-ellipsis whitespace-nowrap outline-none" />
					</form>
				</div>
				<script type="text/javascript">
				$("#search-box").keyup(function(evt) {
					if (evt.which == 13) {
						$("#searchFrm").submit();
					}// end if
				});// keyup
				</script>

				<div class="hidden lg:flex relative w-[300px]">
					<ul
						class="flex w-full text-sm font-medium list-none text-jnGray-900 break-keep">
						<li class="flex items-center justify-center pr-3">
							<button class="flex items-center justify-center"
								onclick="openChatDrawer()">
								<div class="relative cursor-pointer">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
										fill="none">
								<path stroke="#141313" stroke-linecap="round"
											stroke-linejoin="round" stroke-width="1.5"
											d="M20.797 12.2c0 1.639-.438 3.175-1.204 4.5l.46 3.035a.9.9 0 0 1-1.23.968l-2.526-.708a9 9 0 1 1 4.5-7.796"
											clip-rule="evenodd"></path>
								<path fill="#141313" stroke="#141313" stroke-width="0.15"
											d="M8.864 12.2a1.075 1.075 0 1 0-2.15 0 1.075 1.075 0 0 0 2.15 0Zm4 0a1.075 1.075 0 1 0-2.15 0 1.075 1.075 0 0 0 2.15 0Zm4 0a1.075 1.075 0 1 0-2.15 0 1.075 1.075 0 0 0 2.15 0Z"></path></svg>
								</div>
								<p class="ml-1">채팅하기</p>
							</button>
						</li>
						<li
							class="after:contents-[''] after:absolute after:w-[1px] after:h-4 after:bg-jnGray-300 after:right-0 before:contents-[''] before:absolute before:w-[1px] before:h-4 before:bg-jnGray-300 before:left-0 relative flex items-center justify-center px-3">
							<a href="#" class="flex items-center justify-center [&>p]:ml-1">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
											<path
										d="M13.6859 20.6926H4.92323C3.88605 20.6926 3.08773 19.8241 3.20716 18.8409L4.49579 8.32142C4.5775 7.63983 5.18096 7.12109 5.89756 7.12109H15.8168C16.5334 7.12109 17.1369 7.6338 17.2186 8.32142L17.91 14.0701"
										stroke="currentColor" stroke-width="1.5"></path>
											<path
										d="M8.35938 9.35156V9.5868C8.35938 10.7751 9.47828 11.7462 10.8486 11.7462C12.219 11.7462 13.3379 10.7751 13.3379 9.5868V9.35156"
										stroke="currentColor" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round"></path>
											<path
										d="M7.35938 7.72983V6.25112C7.35938 4.34555 8.90414 2.80078 10.8097 2.80078V2.80078C12.7153 2.80078 14.26 4.34555 14.26 6.25112V7.72983"
										stroke="currentColor" stroke-width="1.5"></path>
											<path
										d="M17.1179 22.4245C19.3694 22.4245 21.1968 20.5969 21.1968 18.347C21.1968 16.0972 19.3694 14.2695 17.1179 14.2695C14.8665 14.2695 13.0391 16.0972 13.0391 18.347C13.0391 20.5969 14.8665 22.4245 17.1179 22.4245Z"
										stroke="currentColor" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round"></path>
											<path d="M17.1406 19.9298V16.7461" stroke="currentColor"
										stroke-width="1.2" stroke-linecap="round"
										stroke-linejoin="round"></path>
											<path d="M15.5312 18.3439H18.7149" stroke="currentColor"
										stroke-width="1.2" stroke-linecap="round"
										stroke-linejoin="round"></path></svg>
								<p>판매하기</p> <!-- 링크 수정 필요함. -->
						</a>
						</li>
						<li class="relative flex flex-1 pl-3">
							<button id="myBtn" class="flex items-center justify-center [&>p]:ml-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
									fill="none">
								<path stroke="#141313" stroke-linecap="round"
										stroke-linejoin="round" stroke-width="1.5"
										d="M16.775 7.716a3.619 3.619 0 1 1-7.238.005 3.619 3.619 0 0 1 7.238-.005M13.15 13.371c-4.026 0-7.298 3.184-7.4 7.145h14.8c-.102-3.961-3.374-7.145-7.4-7.145"></path></svg>
								<p>마이</p>
							</button>
							<ul id="myMenu" class="hidden border border-jnGray-300 z-10 text-xs text-center font-medium bg-white rounded-lg absolute flex flex-col justify-center top-[30px] right-[23px] w-[100px] [&amp;&gt;li]:mx-2 [&amp;&gt;li]:border-b [&amp;&gt;li]:border-jnGray-200 [&amp;&gt;li:last-of-type]:border-b-0">
								<li class="pt-3 pb-2 ga4_main_top_menu">
									<a href="/myPage/myPageFrm">
										<p>마이페이지</p>
									</a>
								</li>
								<li class="pt-2 pb-3">
									<button onclick="logout()" class="cursor-pointer disabled:text-stone-400">로그아웃</button>
								</li>
							</ul>
						</li>
					</ul>
					<script th:inline="javascript">
					$(function(){
					    var userId = [[${session.uid}]];
					    document.getElementById("myBtn").addEventListener("click", function () {
					        const menu = document.getElementById("myMenu");
					        if (userId !== null) {
					            menu.classList.toggle("hidden");
					            menu.classList.toggle("flex");
					        } else {
					            location.href = "/user/login/loginFrm";
					        }// end else
					    });
					});
					function logout() {
						location.href = "/logout"
					}// logout
					</script>
						
					
				</div>
			</div>

			<div
				class="md:px-8 2xl:px-16 lg:flex lg:h-16 items-center min-[1600px]:max-w-[1280px] max-w-[1024px] hidden headerBottom mx-auto box-content">
				<div class="relative flex-shrink-0 categoryMenu hidden lg:block">
					<div id="categoryBtn"
						class="flex items-center justify-center gap-2
	       px-3.5 xl:px-4 text-sm font-semibold
	       text-white rounded-md cursor-pointer
	       h-11 bg-black hover:bg-black">
						<svg stroke="currentColor" fill="currentColor" stroke-width="0"
							viewBox="0 0 20 20" class="text-xl" height="1em" width="1em"
							xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd"
								d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
								clip-rule="evenodd"></path></svg>
						카테고리
					</div>
					<div
						class="absolute top-full left-0 mt-1
	       invisible opacity-0 transition-all duration-200
	       bg-white subMenu shadow-header
	       z-50 w-[240px] border border-gray-200 rounded-md">

						<ul class="py-5 text-sm text-body max-h-[480px] overflow-y-scroll">
							<li class="">
							<a	class="flex items-center py-2 ps-5 xl:ps-7 pe-3 xl:pe-3.5 hover:text-heading hover:bg-gray-300"
								href="/searchList?category=1">노트북/PC</a></li>
							<li class=""><a
								class="flex items-center py-2 ps-5 xl:ps-7 pe-3 xl:pe-3.5 hover:text-heading hover:bg-gray-300"
								href="/searchList?category=2">패션의류</a></li>
							<li class=""><a
								class="flex items-center py-2 ps-5 xl:ps-7 pe-3 xl:pe-3.5 hover:text-heading hover:bg-gray-300"
								href="/searchList?category=3">패션잡화</a></li>
							<li class=""><a
								class="flex items-center py-2 ps-5 xl:ps-7 pe-3 xl:pe-3.5 hover:text-heading hover:bg-gray-300"
								href="/searchList?category=4">게임</a></li>
							<li class=""><a
								class="flex items-center py-2 ps-5 xl:ps-7 pe-3 xl:pe-3.5 hover:text-heading hover:bg-gray-300"
								href="/searchList?category=5">뷰티</a></li>
							<li class=""><a
								class="flex items-center py-2 ps-5 xl:ps-7 pe-3 xl:pe-3.5 hover:text-heading hover:bg-gray-300"
								href="/searchList?category=6">리빙/생활</a></li>
							<li class=""><a
								class="flex items-center py-2 ps-5 xl:ps-7 pe-3 xl:pe-3.5 hover:text-heading hover:bg-gray-300"
								href="/searchList?category=7">스포츠</a></li>
							<li class=""><a
								class="flex items-center py-2 ps-5 xl:ps-7 pe-3 xl:pe-3.5 hover:text-heading hover:bg-gray-300"
								href="/searchList?category=8">티켓/쿠폰</a></li>
							<li class=""><a
								class="flex items-center py-2 ps-5 xl:ps-7 pe-3 xl:pe-3.5 hover:text-heading hover:bg-gray-300"
								href="/searchList?category=9">레저/여행</a></li>
							<li class=""><a
								class="flex items-center py-2 ps-5 xl:ps-7 pe-3 xl:pe-3.5 hover:text-heading hover:bg-gray-300"
								href="/searchList?category=10">가전제품</a></li>
						</ul>
					</div>
				</div>
				<script type="text/javascript">
				$(function () {
					const $menu = $(".categoryMenu");
					const $subMenu = $menu.find(".subMenu");

					$menu.on("mouseenter", function () {
						$subMenu.css("visibility", "visible").css("opacity", "1");
					});

					$menu.on("mouseleave", function () {
						$subMenu.css("visibility", "hidden").css("opacity", "0");
					});
				});
				</script>
				<nav
					class="headerMenu flex w-full h-full relative hidden lg:flex ms-3.5 xl:ms-5 min-w-0 overflow-auto flex-1">
					<!-- <div class="menuItem group cursor-pointer shrink-0">
				<a class="relative inline-flex items-center px-3 py-3 text-sm font-normal xl:text-base text-heading xl:px-4 group-hover:text-black whitespace-nowrap h-full">
				이벤트 는 추후에 만들면 추가
				</a>
				</div> -->
					<div class="menuItem group cursor-pointer shrink-0">
						<a href="#"
							class="relative inline-flex items-center px-3 py-3 text-sm font-normal xl:text-base text-heading xl:px-4 group-hover:text-black whitespace-nowrap h-full">
							사기조회</a>
					</div>
					<div class="menuItem group cursor-pointer shrink-0">
						<a href="#"
							class="relative inline-flex items-center px-3 py-3 text-sm font-normal xl:text-base text-heading xl:px-4 group-hover:text-black whitespace-nowrap h-full">
							고객센터</a>
					</div>
				</nav>
			</div>
		</div>
	</header>
</body>
</html>